<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/jquery/jquery-ui.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/vote/vote.css}">	<!-- 여기에 페이지 css파일 적용 -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"><!-- dataTable -->
<style>
	.fDiv{
		float: left;
		text-align: left;
		margin-left: 5px;
	}
	.pDiv{
		float: right;
		text-align: right;
	}
</style>

<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header"/>
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/">
				<img th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
                  		<a class="nav-link font-weight-bold" href="/main/main">메인 페이지</a>
               		</li>
	                <li class="nav-item mr-3 tab-selected">
	                    <a class="nav-link font-weight-bold" href="/board/boardList">게시판</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/ea/ea">전자결재</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/salary/salary">급여관리</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/sp/sp">퇴직금</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/inventory/inventory">재고 관리</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/tna/tna">근태 관리</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/inOut/inOut">입출고</a>
	                </li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="${ pageContext.servletContext.contextPath }/myPage/drawHistory">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">게시판</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link" href="/board/nolist">
						<span>공지사항</span>
					</a>
				</li>
				<!-- Nav Item - Utilities Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link" href="/board/boardList">
						<span>사내게시판</span>
					</a>
				</li>
				<!-- Nav Item - Utilities Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link" href="/vote/vote" >
						<span>투표 게시판</span>
					</a>
				</li>
				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<!-- 투표게시판 시작 -->
			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					
					<div id="content-wrapper" class="d-flex flex-column">
						<div>
							<div class="">
								<div class="search_form">
									<button sec:authentication="name" id="bob" style="display:none;"></button>
								</div>
								
								<ul class="tab ul-tab">
									<li class="li-tab electronic_approval on" data-tab="total-vote"><span>전체</span></li>
									<li class="li-tab electronic_approval" data-tab="vote-ing"><span>진행 중</span></li>
									<li class="li-tab electronic_approval" data-tab="endvote"><span>종료</span></li>									
								</ul>
								<div id="total-vote" class="tab_contents electronic_approval current">
									<div class="tableArea">
										<table class="Table">
											<colgroup>
												<col style="width:8%" />
												<col style="width:10%" />
												<col style="width:45%" />
												<col style="width:10%" />
												<col style="width:10%" />
												<col style="width:9%" />
											</colgroup>
											<thead>
												<tr>
													<th>번호</th>
													<th>작성자</th>
													<th>제목</th>
													<th>작성일</th>
													<th>종료일</th>
													<th>조회수</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="vote : ${ voteList }">
													<td th:text="${ vote.serialNo }"></td>
													<td th:text="${ vote.member.name }"></td>
													<td th:text="${ vote.title }" class="t_left pop_btn" data-button="vote-detail" th:onclick="|javascript:voteDetail('${vote.serialNo}')|" id="mainTitle"></td>
													<td th:text="${ vote.regDate }"></td>
													<td th:text="${ vote.endDate }"></td>
													<td th:text="${ vote.hit }"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								<!-- 진행중인 투표 부분 -->
								<div id="vote-ing" class="tab_contents electronic_approval">
									<div class="tableArea">
										<table class="Table">
											<colgroup>
												<col style="width:8%" />
												<col style="width:10%" />
												<col style="width:45%" />
												<col style="width:10%" />
												<col style="width:10%" />
												<col style="width:9%" />
											</colgroup>
											<thead>
												<tr>
													<th>번호</th>
													<th>작성자</th>
													<th>제목</th>
													<th>작성일</th>
													<th>종료일</th>
													<th>조회수</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="regvote : ${ regVoteList }">
													<td th:text="${ regvote.serialNo }"></td>
													<td th:text="${ regvote.member.name }"></td>
													<td th:text="${ regvote.title }" class="t_left pop_btn" data-button="vote-detail" th:onclick="|javascript:voteDetail('${regvote.serialNo}')|"></td>
													<td th:text="${ regvote.regDate }"></td>
													<td th:text="${ regvote.endDate }"></td>
													<td th:text="${ regvote.hit }"></td>
												</tr>													
											</tbody>
										</table>
									</div>
								</div>
								
								<!-- 투표 종료 부분 -->
								<div id="endvote" class="tab_contents electronic_approval">
									<div class="tableArea">
										<table class="Table">
											<colgroup>
												<col style="width:8%" />
												<col style="width:10%" />
												<col style="width:45%" />
												<col style="width:10%" />
												<col style="width:10%" />
												<col style="width:9%" />
											</colgroup>
											<thead>
												<tr>
													<th>번호</th>
													<th>작성자</th>
													<th>제목</th>
													<th>작성일</th>
													<th>종료일</th>
													<th>조회수</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="endvote : ${ endVoteList }">
													<td th:text="${ endvote.serialNo }"></td>
													<td th:text="${ endvote.member.name }"></td>
													<td th:text="${ endvote.title }" class="t_left pop_btn" data-button="vote-detail" th:onclick="|javascript:voteDetail('${endvote.serialNo}')|"></td>
													<td th:text="${ endvote.regDate }"></td>
													<td th:text="${ endvote.endDate }"></td>
													<td th:text="${ endvote.hit }"></td>
												</tr>													
											</tbody>
										</table>
									</div>
								</div>
								<div class="btn_area">
									<button type="button" class="blue_btn pop_btn" data-button="new-vote">신규</button>							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 새로운 투표 작성 -->
		<div id="new-vote" class="pop_layer">
			<div class="top_area">
				<h2>새 투표 작성</h2>
				<button type="button" class="pop_close" data-button="new-vote">닫기</button>
			</div>
			<div class="pop_inner">
				<div id="accordion">
					<div class="top">
						<form action="/vote/insertVote" method="post" id="voteForm">
							<p>제목 : &nbsp;<input type="text" placeholder="제목을 쓰세요" style="width: 80%;" name="title" id="titleName"></p>
							<div id="collspse2" data-parent="#accordion" class="collapse">
								<p>후보 : &nbsp;<input type="text" style="width: 80%;" placeholder="후보는 1명당 1개만 가능합니다." name="insertMember"></p>
							</div>
							<p>종료일 : <input type="date" name="endDate" id="endDate"> </p>
							<textarea cols="80" rows="6" style="width: 100%; resize: none;" placeholder="내용을 입력하세요" name="content" id="textcon"></textarea>
						</form>
					</div>
					
				</div>
			</div>

			<div class="btn_area">
				<a class="blue_btn pop_close" data-toggle="collapse" href="#collspse2">후보 추가</a>
				<button class="blue_btn pop_close" onclick="insertVote()" style="margin-right: 5px;">작성하기</button>
				<a href="#n" class="gray_btn pop_close" data-button="new-vote">닫기</a>
			</div>
		</div>
		
		<!-- /새로운 투표-->

		<!-- 투표 게시판 디테일 -->
		<div id="vote-detail" class="pop_layer">
			<div class="top_area" id="buttonX">
				<h2>투표</h2>
				<button type="button" class="pop_close" data-button="vote-detail">닫기</button>
			</div>
			<div class="pop_inner">
				<button type="button" class="blue_btn pop_btn" data-button="resultVote" style="float: right; margin-right: 20px;" onclick="resultVote()">결과보기</button>
				<p id="titleVo"></p>
				<hr>
				<p id="contentVo"></p> 
				<hr>
				<form action="/vote/vvote" method="POST" id="vvote">
					<ol id="voteList">
					</ol>
				</form>
			</div>
			
			<div class="btn_area" id="buttonArea">
			</div>
		</div>
	<!-- /투표 게시판 디테일-->
	
	
	
	
	<!-- 후보 등록 -->
	<div id="insertVote" class="pop_layer">
		<div class="top_area">
			<h2>후보 등록</h2>
			<button type="button" class="pop_close" data-button="insertVote">닫기</button>
		</div>
		<div class="pop_inner">
			<div class="top" id="candiArea">
			</div>
		</div>
		<div class="btn_area" id="candivote">
			
		</div>
	</div>
	<!-- /후보 등록 -->

	<!-- 투표 결과 -->
	<div id="resultVote" class="pop_layer">
		<div class="top_area">
			<h2>투표 결과</h2>
			<button type="button" class="pop_close" data-button="resultVote">닫기</button>
		</div>
		<div class="pop_inner">
			<div class="top">
				<div class="tableArea" id="voteResultTable">
				</div>
			</div>
		</div>
		<div class="btn_area">
			<button class="gray_btn pop_close" data-button="resultVote">닫기</button>
		</div>
	</div>
	
	
	<script>
	/* 신규 투표작성 */
	function insertVote(){
		var titleFlag = false;
		var dateFlag = false;
		var textFlag = false;
		var dateCheckFlag = false;
		
		const titleArea = $("#titleName").val();
		const textArea = $("#textcon").val();
		const dateCheck = $("#endDate").val();

		var date = new Date();
		var date1 = new Date(dateCheck);
		
		if(dateCheck != ""){
			dateFlag = true;
		}
		if(titleArea != ""){
			titleFlag = true;
		}
		if(textArea != ""){
			textFlag = true;
		}
		if(date < date1){
			dateCheckFlag = true;
		}
		
		if(!titleFlag){
			alert("제목을 입력하세요!");
		} else if(!dateFlag){
			alert("종료일을 선택하세요!");
		} else if(!dateCheckFlag) {
			alert("오늘 이후의 날짜만 가능합니다.");					
		} else if(!textFlag){
			alert("내용을 입력하세요!");
		} else {
			$("#voteForm").submit();
		}
	};
	
	/* 투표 디테일 부분 */
	function voteDetail(num){
		var date = new Date();
		var detailnum = num;
		const title = $("#titleVo");
		const content = $("#contentVo");
		const voteList = $("#voteList");
		const buttonArea = $("#buttonArea");
		
		var candi = false;
		var vvote = false;
		var writer = false;
		var bob = $("#bob").text();
		
		title.html("");
		content.html("");
		voteList.html("");
		buttonArea.html("");			
		
		$.ajax({
		url: "/vote/detail",
		type: "get",
		data: {
			detailnum : detailnum
		},
		success: function(data){
			var date1 = new Date(data.endDate);
			var voteCheckFlag = false;
			
			if(date > date1){
				vvote = true;
				candi = true;
				voteCheckFlag = true;
			}
			
			for(var index in data.voteParticipationList){
				if(bob == data.voteParticipationList[index].member.name){
					vvote = true;
					voteCheckFlag = true;
				}	
			}
			
			title.text("제목 : " + data.title);								
			content.text("내용 : " + data.content);
			
			title.append("<button id='pareNum' type='button' style='display:none' value='" + data.serialNo +"'>as</button>")
			
			if(data.voteOptionList != ""){
				
				for(var index in data.voteOptionList){
					$index = "vote" + index;
					
					if(voteCheckFlag){
						voteList.append("<li><label for="+ $index +">" + data.voteOptionList[index].desc + "</label></li>")
					} else {
						voteList.append("<li><label for="+ $index +">" + data.voteOptionList[index].desc + "</label><input type='radio' id="+ "'" + $index + "'" + "class='vote'" + "name='votes'" + "value='"+ data.voteOptionList[index].desc + "'" + "></li>")
					}
					
					if(bob == data.voteOptionList[index].member.name ){
						candi = true;
					}
					
				}
				
				
				
				if(date > date1){
					vvote = true;
					candi = true;
				}
				
				/* Controller로 보내기위한 임의적인 input */
				voteList.append("<input type='text' class='serialNo' style='display: none;' value='"+ data.serialNo + "'></input>");
				
				if(!candi){
					buttonArea.append("<button class='blue_btn pop_btn' style='margin-right: 5px;' data-button='insertVote' id='voteInIN'>후보등록</button>")	;	
				}
				if(!vvote){
					buttonArea.append("<button type='button' style='margin-right: 5px;' class='blue_btn pop_close' onclick='vVote()'>투표하기</button>");
				}
				
			} else {
				voteList.text("후보가 없습니다.");
				if(!candi){
					buttonArea.append("<button class='blue_btn pop_btn' style='margin-right: 5px;' data-button='insertVote' id='voteInIN'>후보등록</button>");
				}
			}
			buttonArea.append("<button class='gray_btn pop_btn' data-button='vote-detail' id='closeVoteDetail'>닫기</button>");
			
			$("#candivote").html("");
			$("#candivote").append("<button type='button' class='blue_btn pop_close' style='margin-right: 5px;' data-button='insertVote' id='insertCandi' onclick='plusCandi(" + data.serialNo + ")'>추가하기</button>");
			$("#candivote").append("<button type='button' class='gray_btn pop_close' data-button='insertVote' id='candiClose'>닫기</button>");
			$("#candiArea").html("");
			$("#candiArea").append("<p>제목 : " + data.title + "</p>");
			$("#candiArea").append("<p>후보 이름 : <input type'text' placeholder='후보는 1개만 가능합니다.' style='width: 70%;' id='candiInsert'/></p>");
			
			$("#voteInIN, #insertCandi, #candiClose, #closeVoteDetail").click(function(){
					var pop_name = $(this).data('button');

					$('#' + pop_name).stop().toggle();
					var window_w = $(window).width();
					$('.pop_layer').each(function (index, item) {
						$(item).addClass('pop_0' + index);

						var pop_width = $('.pop_0' + index).width();
						var pop_height = $('.pop_0' + index).height();

						$('.pop_0' + index).css({
							'margin-left': -(pop_width / '2'),
							'margin-top': -(pop_height / '2')
						});
					});
					
					$('.payroll_pop_layer').each(function (index, item) {
						$(item).addClass('pop_0' + index);

						var pop_width = $('.pop_0' + index).width();
						var pop_height = $('.pop_0' + index).height();

						$('.pop_0' + index).css({
							'margin-left': -(pop_width / '2'),
							'margin-top': -(pop_height / '2')
						});
					});
				});
		},
		error: function(xhr){
			console.log(xhr);
			 }
		});
	}
	
	/* 후보 추가 */
	function plusCandi(num){
		var candiInsert = $("#candiInsert").val();
		var votenum = num;
		if(candiInsert == ""){
			alert("후보를 입력하세요");
		} else {
			
		$.ajax({
			url: "/vote/plusCandi",
			type: "post",
			data: {
				candiInsert : candiInsert,
				votenum : votenum
			},
			success: function(data){
				voteDetail(votenum);
			},
			error: function(xhr){
				console.log("에러임");
				console.log(xhr);
				 }
		});
		}
	}
	
		/* 투표하기 */
		function vVote(){
			var voteFlag = false;
			const serialNo = $(".serialNo").val();
			var desc = $(":input:radio[name=votes]:checked").val();
			
			if($(".vote").is(":checked")){
				voteFlag = true;
			}
			
			if(!voteFlag){
				alert("투표하실 내용을 선택하세요.");
			} else {
				$.ajax({
					url: "/vote/vvote",
					type: "post",
					data: {
						serialNo : serialNo,
						desc : desc
					},
					success: function(data){
						voteDetail(serialNo);
					},
					error: function(xhr){
						console.log("에러임");
						console.log(xhr);
						 }
				});
			}
		}
		
		/* 투표결과조회 */
		function resultVote(){
			var voteNumber = $("#pareNum").val();
			const resultVoteBody = $("#resultVoteBody");
			const voteResultTable = $("#voteResultTable");
			
			resultVoteBody.html("");
			voteResultTable.html("");
			
			$.ajax({
				url: "/vote/resultVote",
				type: "get",
				data: {
					voteNumber : voteNumber
				},
				success: function(data){
					
					if(data.voteOptionList != ""){
						$table = $("<table>");
						$thead = $("<thead>");
						$ttr = $("<tr>");
						$colgroup = $("<colgroup>");
						$col1 = $("<col style='width:2%' />");
						$col2 = $("<col style='width:20%' />");
						$col3 = $("<col style='width:5%' />");
						$th1 = $("<th>").text("번호");
						$th2 = $("<th>").text("후보");
						$th3 = $("<th>").text("득표수");
						$tbody = $("<tbody>");
						
						$ttr.append($th1);
						$ttr.append($th2);
						$ttr.append($th3);
						
						$thead.append($ttr);
						$colgroup.append($col1);
						$colgroup.append($col2);
						$colgroup.append($col3);
						
						$table.append($colgroup);
						$table.append($thead);
						
						voteResultTable.append($table);
							var plus = 0;
						
						for(var index in data.voteOptionList){
							plus += 1;
							$tr = $("<tr>");
							$index = $("<td>").text(plus);
							$desc = $("<td>").text(data.voteOptionList[index].desc);
							$count = $("<td>").text(data.voteOptionList[index].voteCount);
							
							$tr.append($index);
							$tr.append($desc);
							$tr.append($count);
							
							$tbody.append($tr);
							
							$table.append($tbody);
						}
						
					} else {
						$("#voteResultTable").append("<p>후보가 없습니다</p>")
					} 
					
				},
				error: function(xhr){
					console.log(xhr);
					 }
			});
		}
		
		var timer = setInterval(function() {
			$.fn.DataTable.ext.pager.numbers_length = 6;
			
			$('.Table').DataTable({
				"pagingType": "full_numbers",
				"language": {
		            "lengthMenu": "페이지당 줄수 _MENU_",
		            "zeroRecords": "투표가 존재하지 않습니다.",
		            "search": "검색 : ",
		            "paginate": {
		                "previous": "이전",
		                "next" : "다음",
		                "first" : "처음",
		                "last" : "마지막"
		              }
		        },
	            "order" : [],
	            /* 보이는 갯수 설정 안보이게 */
	            lengthChange: false,
	            /* 페이지 전체수 나오던 부분 안보이게*/
	            info : false,
	            /* 구조 설정 태그 안에 글자는 div클래스명 <style>에서 float 주고싶은대로 주면됨*/
	            "dom": 't<"fDiv"f><"pDiv"p>',
	            
	            /* 컬럼 옆에 정렬표시 제거 2번째꺼부터가 0번 인덱스임 row부분은 order를 []처리하면됨*/
	            "aoColumnDefs": [
	                { 'bSortable': false, 'aTargets': [ 0, 1, 2, 3, 4, 5 ] }
	             ]
	        });
			
			clearInterval(timer);
			
		}, 100);
	</script>
	
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
	
	</section>

</body>
</html>
