<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/inventory/inventory.css}">
<!-- 여기에 페이지 css파일 적용 -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"><!-- dataTable -->
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header" />
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/"> <img
				th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
				   <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/main/main">메인 페이지</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/board/boardList">게시판</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/ea/ea">전자결재</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/salary/salary">급여관리</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/sp/sp">퇴직금</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/inventory/inventory">재고 관리</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/tna/tna">근태 관리</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/inOut/inOut">입출고</a>
	               </li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul
				class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
				id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand">
					<div class="sidebar-brand-icon rotate-n-15"></div>
					<div class="sidebar-brand-text mx-3">관리자 페이지</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link on" href="/admin/authority">
						<span>권한 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/member">
						<span>회원 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/company">
						<span>회사 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/rank">
						<span>직급 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/dept">
						<span>부서 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/icecream">
						<span>아이스크림 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/sp">
						<span>퇴직금 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/document">
						<span>문서 관리</span>
					</a>
				</li>


				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<br>
					<h1 class="h2 text-gray-900" style="padding: 30px; display: inline;">권한 관리</h1>
					<div class="search_form">
						<form action="/inventory/search" method="post">
<!-- 							<input type="text" placeholder="검색어 입력" name="keyword"/>
							<button type="submit" class="blue_btn">Search</button> -->
						</form>
					</div>

					<!-- 전체 회원 테이블 -->
					<div id="all_product" class="tab_contents inventory current">
						<div class="tableArea">
							<table class="Table">
								<colgroup>
									<col style="width: 20%" />
									<col style="width: 80%" />
								</colgroup>
								<thead>
									<tr>
										<th>사원명</th>
										<th>권한</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="mem : ${ memberList }">
										<td class="t_center pop_btn" th:text="${ mem.name }"></td>
										<td class="t_center pop_btn" style="font-weight: bold;" th:attr="onclick=|authDetail('${ mem.name }')|" data-button="auth_detail_pop">
											<th:block th:each="role : ${ mem.memberRoleList }">
											
												<!-- 현재 반복이 첫 번째일 경우 (값이 하나일 경우) -->
												<th:block th:if="${ roleStat.first }" th:text="${ role.authority.desc }"/>
												
												<!-- 현재 반복이 첫 번째가 아닐 경우 (값이 여러개일 경우) -->
												<th:block th:unless="${ roleStat.first }" th:text="${ ', ' + role.authority.desc }"/>
											</th:block>
										</td>
									</tr> 
								</tbody>
							</table>
						</div>
					</div>
					<!-- 권한 변경 팝업 -->
			          <div id="auth_detail_pop" class="pop_layer">
			            <div class="top_area">
			              <h2>권한 관리</h2>
			              <button type="button" class="pop_close" data-button="auth_detail_pop">닫기</button>
			            </div>
			            <div class="pop_inner">
			              <div class="tableArea">
				              <form action="/admin/updateAuth" method="post">
				                <table>
				                  <colgroup>
				                    <col style="width:20%" />
				                    <col style="width:20%" />
				                  </colgroup>
				                  <thead>
				                    <tr>
										<th>사원명</th>
										<th>권한</th>
				                    </tr>
				                  </thead>
				                  <tbody>
									<tr>
										<td id="authName"></td>
										<td id="allAuth">
											<!-- ajax로 처리 -->
										</td>
									</tr>
				                  </tbody>
				                </table>
					            <div class="btn_area" style="text-align: center;">
					            	<input type="hidden" name="name" id="newName">
					              <button type="submit" class="blue_btn" data-button="auth_detail_pop">수정</button>
					            </div>
				            </form>
			              </div>
			            </div>
			          </div>
					<!-- 권한 변경 팝업 -->
					
					<script>
					/* 디테일 페이지에서 이름 가져옴 */
					function authDetail(name){
						var detailName = name;
						const authName = $("#authName");
						const newName = $("#newName");
						
						$.ajax({
						url: "/admin/authDetail",
						type: "get",
						data: {
							detailName : detailName
						},
						success: function(data){
							authName.text(data.name);
							
							newName.attr('value', data.name);
						},
						error: function(xhr){
							console.log(xhr);
						}
						});
					}
					</script>

					<div class="btm_area" style="margin-left: 10px;">
						<!-- <a style="cursor: pointer;" class="blue_btn pop_btn" data-button="new_inventory_pop">추가</a>  -->
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<script>
		 $.ajax({
			url: "/admin/allAuth",
			success: function(data){
				console.table(data);
				const $allAuth = $("#allAuth");
				$allAuth.html("");
				
				for (let i in data){
					$allAuth.append("<input type='checkbox' id='role" + data[i].code + "' name='role' value='" + data[i].code + "'><label for='role" + data[i].code + "'>" + data[i].desc + "</label>");
				} 
				
				$("#role2").click(function() {
					if($("#role2").is(":checked")) $("input[name=role]").prop("checked", true);
					else $("input[name=role]").prop("checked", false);
				});
			},
			error: function(xhr){
				console.log(xhr);
			}
		});
		
		/* dataTable */
		var timer = setInterval(function() {
			$.fn.DataTable.ext.pager.numbers_length = 5;
			$('.Table').DataTable({
				"pagingType": "full_numbers",
				"language": {
		            "lengthMenu": "페이지당 줄수 _MENU_",
		            "zeroRecords": "해당 내역이 존재하지 않습니다.",
		            "info": "_PAGE_ / _PAGES_",
		            "infoEmpty": "항목이 존재하지 않습니다.",
		            "infoFiltered": "(총 _MAX_ 개의 항목이 제외 되었습니다.)",
		            "search": "검색 : ",
		            "paginate": {
		                "previous": "이전",
		                "next" : "다음",
		                "first" : "처음",
		                "last" : "마지막"
		              }
		        },
		        "order" : [],
	               /* 보이는 갯수 설정 안보이게 */
	               lengthChange: false,
	               /* 페이지 전체수 나오던 부분 안보이게*/
	               info : false,
	               /* 구조 설정 태그 안에 글자는 div클래스명 */
	               "dom": 't<"fDiv"f><"pDiv"p>',
	               "aoColumnDefs": [
	                   { 'bSortable': false, 'aTargets': [ 0, 1 ] }
	                ]
	        });
			
			clearInterval(timer);
		}, 100);
	</script>
	
			<!-- dataTable -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</body>
</html>