<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/inventory/inventory.css}">
<!-- 여기에 페이지 css파일 적용 -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"><!-- dataTable -->
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header" />
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/"> <img
				th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="main">메인 페이지</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="">게시판</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="">전자결재</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="">급여관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="">퇴직금</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="inventory">재고 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="">근태 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="/inOut/inOut">입출고</a>
					</li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<!-- Sidebar -->
			<ul
				class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
				id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="inventory/inventory">
					<div class="sidebar-brand-icon rotate-n-15"></div>
					<div class="sidebar-brand-text mx-3">관리자 페이지</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link " href="/admin/authority">
						<span>권한 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/member">
						<span>회원 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/company">
						<span>회사 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/rank">
						<span>직급 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/dept">
						<span>부서 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/icecream">
						<span>아이스크림 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/sp">
						<span>퇴직금 관리</span>
					</a>
					<a class="nav-link on mt-1" href="/admin/document">
						<span>문서 관리</span>
					</a>
				</li>


				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<!-- 여기에 적으셈 -->
					<br>
					<h1 class="h2 text-gray-900" style="padding: 30px; display: inline;">문서 관리</h1>
					<div class="search_form">
						<form action="/inventory/search" method="post">
<!-- 							<input type="text" placeholder="검색어 입력" name="keyword"/>
							<button type="submit" class="blue_btn">Search</button> -->
						</form>
					</div>

					<!-- 테이블 -->
					<div id="all_product" class="tab_contents inventory current">
						<div class="tableArea">
							<table class="Table">
								<colgroup>
									<col style="width: 20%" />
									<col style="width: 40%" />
									<col style="width: 40%" />
								</colgroup>
								<thead>
									<tr>
										<th>문서 번호</th>
										<th>문서 서식</th>
										<th>문서 이름</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="docu : ${ documentList }">
										<td class="t_center pop_btn" th:text="${ docu.no }"></td>
										<td class="t_center pop_btn" th:text="${ docu.form }"></td>
										<td class="t_center pop_btn" th:text="${ docu.name }"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 아이스크림 추가 -->
					<div id="new_document_pop" class="pop_layer">
						<div class="top_area">
							<h2>문서 양식 추가</h2>
							<button type="button" class="pop_close" data-button="new_document_pop">닫기</button>
						</div>
						<div class="tableArea">
						<form action="/admin/newDocu" method="post">
							<table>
								<colgroup>
									<col style="width: 50%" />
									<col style="width: 50%" />
								</colgroup>
								<thead>
									<tr>
										<th>문서 서식</th>
										<th>문서 이름</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" name="form">
										</td>
										<td>
											<input type="text" name="name">
										</td>
									</tr>
								</tbody>
							</table>
							<div class="btm_area mt-2" style="text-align: center;">
								<button type="submit" class="blue_btn pop_close" data-button="new_document_pop">추가</button> 
								<a style="cursor: pointer;" class="gray_btn pop_close" data-button="new_document_pop">닫기</a>
							</div>
						</form>
						</div>
					</div>
					<!-- 아이스크림 추가 -->
					<div class="btm_area" style="margin-left: 10px;">
						<a style="cursor: pointer;" class="blue_btn pop_btn" data-button="new_document_pop">문서 추가</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<script>
		$.ajax({
			url: "/inventory/company",
			success: function(data){
				const $companyCode = $("#companyCode");
				$companyCode.html("");
				
				for (let i in data){
					$companyCode.append($("<option>").val(data[i].serialNo).text(data[i].name));
				}
			},
			error: function(xhr){
				console.log(xhr);
			}
		});
		
		$.ajax({
			url: "/inventory/icecream",
			success: function(data){
				const $icecreamCode = $("#icecreamCode");
				$icecreamCode.html("");
				
				for (let i in data){
					$icecreamCode.append($("<option>").val(data[i].no).text(data[i].name));
				}
			},
			error: function(xhr){
				console.log(xhr);
			}
		});
		
 		/* dataTable */
		$('.Table').DataTable({
			"pagingType": "full_numbers",
			"language": {
	            "lengthMenu": "페이지당 줄수 _MENU_",
	            "zeroRecords": "해당 내역이 존재하지 않습니다.",
	            "info": "_PAGE_ / _PAGES_",
	            "infoEmpty": "문서 항목이 존재하지 않습니다.",
	            "infoFiltered": "(총 _MAX_ 개의 항목이 제외 되었습니다.)",
	            "search": "검색 : ",
	            "paginate": {
	                "previous": "이전",
	                "next" : "다음",
	                "first" : "처음",
	                "last" : "마지막"
	              }
	        },
            "order" : [ 0, 'asc' ]
        });
		$.fn.DataTable.ext.pager.numbers_length = 5;
	</script>
	
	<!-- dataTable -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</body>
</html>