<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/salary/salary.css}">	<!-- 여기에 페이지 css파일 적용 -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"><!-- dataTable -->
<style>
	.fDiv{
		float: left;
		text-align: left;
		margin-left: 5px;
	}
	.pDiv{
		float: right;
		text-align: right;
	}
</style>
<title>ERP BOMB</title>
</head>
<body>
	<!-- header -->
	<header id="top">
		<th:block th:include="common/header" />
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/"> <img
				th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
				   <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/main/main">메인 페이지</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/board/boardList">게시판</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/ea/ea">전자결재</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/salary/salary">급여관리</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/inventory/inventory">재고 관리</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/inOut/inOut">입출고</a>
	               </li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul
				class="mt-0 navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
				id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="inventory/inventory">
					<div class="sidebar-brand-icon rotate-n-15"></div>
					<div class="sidebar-brand-text mx-3">관리자 페이지</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link " href="/admin/authority">
						<span>권한 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/member">
						<span>회원 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/company">
						<span>회사 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/rank">
						<span>직급 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/dept">
						<span>부서 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/icecream">
						<span>아이스크림 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/sp">
						<span>퇴직금 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/document">
						<span>문서 관리</span>
					</a>
					<a class="nav-link mt-1 on" href="/admin/salary">
						<span>급여 관리</span>
					</a>
					<a class="nav-link mt-1" href="/admin/tna">
						<span>근태 관리</span>
					</a>
				</li>


				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<!-- 여기부터 급여관리 리스트 -->
					<div class="">
					<br>
					<h1 class="h2 text-gray-900" style="padding: 30px; display: inline;">급여 관리</h1>
						<div class="search_form">
						</div>

						<div id="all_approval" class="tab_contents electronic_approval current">
							<div class="tableArea">
								<table class="Table">
									<caption>급여관리</caption>
									<!-- 관리자 O -->
									<th:block sec:authorize="hasRole('ADMIN')">
										<colgroup>
											<col style="width:10%" />
											<col style="width:14%" />
											<col style="width:12%" />
											<col style="width:19.5%" />
											<col style="width:19.5%" />
											<col style="width:25%" />
										</colgroup> 
										<thead>
											<tr>
												<th>번호</th>	
												<th>귀속연월</th>
												<th>사원명</th>
												<th>월급</th>
												<th>보너스</th>
												<th>지급총액</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="salary : ${ allSalaryList }">
												<td th:text="${ salary.serialNo }"></td>
												<td th:text="${ #dates.format(salary.Date, 'yyyy-MM') }" ></td>
												<td th:text="${ salary.member.name }"></td>
												<td th:text="${ #numbers.formatInteger(salary.regularPay, 1, 'COMMA') }"></td>
												<td th:text="${ #numbers.formatInteger(salary.bonus, 1, 'COMMA') }"></td>
												<th:block th:with="total = ${ #numbers.formatInteger(salary.regularPay, 1)} +  ${ #numbers.formatInteger(salary.bonus, 1) }">
													<td th:text="${ #numbers.formatInteger(total, 1, 'COMMA')}"></td>
												</th:block>
											</tr>
										</tbody>
									</th:block>
								</table>
							</div>
						</div>

						<!-- 관리자 권한 설정 -->
						<div class="btn_area" sec:authorize="hasRole('ADMIN')">
							<a href="#n" class="blue_btn pop_btn" data-button="new_payroll_pop">신규등록</a>
						</div>
					</div>
					<!-- 여기까지 급여관리 리스트 -->

					<!-- 여기부터 급여관리 팝업 -->
					<!-- 신규 등록하기 -->
					<div id="new_payroll_pop" class="payroll_pop_layer">
						<div class="top_area">
							<h2>신규급여등록</h2>
							<button type="button" class="pop_close" data-button="new_payroll_pop">닫기</button>
						</div>
						<form action="/admin/regist" method="post">										
							<div class="pop_inner">
								<div class="tableArea">
									<table>
										<caption>신규급여내역</caption>
										<thead>
											<th>귀속연월</th>
											<th>사원명</th>
											<th>기본급</th>
											<th>보너스</th>
										</thead>
										<tbody>
											<tr>
												<td th:text="${ #calendars.format(#calendars.createNow(), 'yyyy-MM')}" name="Date" id="Date" value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}">귀속연월</td>
												<td>
													<select th:name="name" id="name" style="width: 80%;" class="form-control select2">
														<option th:each="member : ${ memberList }" th:text="${ member.name }" th:value="${ member.name }"></option>
													</select>
												</td>
												<td><input type="text" name="regularPay" id="regularPay" style="text-align: center;" required="required"></td>
												<td><input type="text" name="bonus" id="bonus" style="text-align: center;"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="btn_area">
									<button type="submit" class="blue_btn" id="registBtn">등록</button>
									<a href="#n" class="gray_btn pop_close" data-button="new_payroll_pop">닫기</a>
								</div>
							</div>
						</form>
					</div>
            <!-- 여기까지 급여관리 팝업 -->
			</div>
		</div>
		</div>
	</section>
	
	<script>
		/* 중복 값 막기 */
		$(function() {
		    const flashName = '[(${flashName})]' || '';
			const flashDate = '[(${flashDate})]' || '';
			console.log(flashName);
			console.log(flashDate);
			
		    if(flashName != '') {
		    	//만약 flashName이 있다면 alert
		    	alert(flashName+'님의 '+ flashDate + ' 급여 내역이 존재합니다.');
		    }
		});
	
		$(document).ready(function(){
			$('.select2').select2({
				placeholder: "선택해주세요",
			});
		});
		
		/* dataTable */
		var timer = setInterval(function() {
			$.fn.DataTable.ext.pager.numbers_length = 5;
			$('.Table').DataTable({
				"pagingType": "full_numbers",
				"language": {
		            "lengthMenu": "페이지당 줄수 _MENU_",
		            "zeroRecords": "급여 검색 결과가 존재하지 않습니다.",
		            "info": "_PAGE_ / _PAGES_",
		            "infoEmpty": "급여 항목이 존재하지 않습니다.",
		            "infoFiltered": "(총 _MAX_ 개의 항목이 제외 되었습니다.)",
		            "search": "검색 : ",
		            "paginate": {
		                "previous": "이전",
		                "next" : "다음",
		                "first" : "처음",
		                "last" : "마지막"
		              }
		        },
	            "order" : [ [0, 'DESC'], [1, 'DESC'] ],
	            /* 보이는 갯수 설정 안보이게 */
	            lengthChange: false,
	            /* 페이지 전체수 나오던 부분 안보이게*/
	            info : false,
	            /* 구조 설정 태그 안에 글자는 div클래스명 <style>에서 float 주고싶은대로 주면됨*/
	            "dom": 't<"fDiv"f><"pDiv"p>',
	            
	            /* 컬럼 옆에 정렬표시 제거 2번째꺼부터가 0번 인덱스임 row부분은 order를 []처리하면됨*/
	            "aoColumnDefs": [
	                { 'bSortable': false, 'aTargets': [ 0, 1, 2, 3, 4, 5] }
	             ]
	        });
			
			clearInterval(timer);
		}, 100);
	</script>
	
	<!-- dataTable -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
	
</body>
</html>