<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/main/main.css}">	<!-- 여기에 페이지 css파일 적용 -->
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header"/>
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/ea/test">
				<img th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3 tab-selected">
						<a class="nav-link font-weight-bold" href="shoes/list">메인 페이지</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">게시판</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">판매현황</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="/ea/ea">전자결재</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="member/salary">급여관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">사내 투표</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">퇴직금</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">재고 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">근태 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">입출고</a>
					</li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">


			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="main_section">
					<!--hhj_내용추가-->
					<div class="main_left">
						<div class="notice">
							<p class="titleM">공지사항</p>
							<ul class="notice_list">
								<li>
									<a href="#n">
										<p>[공지]2021년 4월 인사발령</p>
										<span class="date">2021.11.10 14:39</span>
									</a>
								</li>
								<li>
									<a href="#n">
										<p>[공지]신규 거래식당 추가의 건</p>
										<span class="date">2021.11.10 14:39</span>
									</a>
								</li>
								<li>
									<a href="#n">
										<p>[공지]사내 심장제세동기 설치 및 사용방법안내</p>
										<span class="date">2021.11.10 14:39</span>
									</a>
								</li>
								<li>
									<a href="#n">
										<p>[공지]불법 SW 사용 금지 관련 공지 사항</p>
										<span class="date">2021.11.10 14:39</span>
									</a>
								</li>
								<li>
									<a href="#n">
										<p>[공지]옥상 휴게공간 개선 공사 완료의건</p>
										<span class="date">2021.11.10 14:39</span>
									</a>
								</li>
								<li>
									<a href="#n">
										<p>[공지]외국어 교육과정 실시 안내</p>
										<span class="date">2021.11.10 14:39</span>
									</a>
								</li>
							</ul>
							<a href="#n" class="link_arrow">공지사항 바로가기</a>
						</div>
						<div class="calendar">
							<div id='calendar'></div>
						</div>
					</div>
					<div class="main_right">
						<div class="status">
							<p class="titleM">근태현황</p>
							<span class="time_p">출근허용시간 : 시 - 시</span>
							<p class="text">출/퇴근시 아래 버튼을 클릭하세요.</p>
							<div class="btn_area">
								<button type="button">출근</button>
								<button type="button">퇴근</button>
							</div>

							<a href="#n" class="link_arrow">근태현황 바로가기</a>
						</div>
						<div class="approval">							
							<p class="titleM">결재</p>
							<div class="flex_div">
								<div>
									<p>결재대기문서</p>
									<span>0</span>
								</div>
								<div>
									<p>결재진행문서</p>
									<span>3</span>
								</div>
								<div>
									<p>수신대기문서</p>
									<span>0</span>
								</div>
							</div>
							<a href="#n" class="link_arrow">결재 바로가기</a>
						</div>
						<div class="vote">			
							<p class="titleM">사내투표</p>
							<div class="flex_div">
								<div>
									<p>투표 진행중</p>
									<span>0</span>
								</div>
								<div>
									<p>투표 완료</p>
									<span>3</span>
								</div>
							</div>
							<a href="#n" class="link_arrow">결재 바로가기</a>

						</div>
					</div>
					<!--//hhj_내용추가-->					
				</div>
			</div>
		</div>
	</section>

    <link th:href="@{/uses/vendor/jquery/datepicker.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/uses/vendor/jquery/datepicker.min.js}"></script> 
    <script th:src="@{/uses/vendor/jquery/datepicker.ko.js}"></script> 
	<!--캘린더-->
	<link th:href="@{/uses/vendor/fullcalendar/main.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/uses/vendor/fullcalendar/main.js}"></script> 
    <script th:src="@{uses/vendor/fullcalendar/ko.js}"></script> 
    
    <script>
	    function changeHandler(e){
			const input = document.createElement("input");
			input.setAttribute('onblur', 'blurHandler(this)' )
			input.setAttribute('id', `${e.id}`);		
			
			if(e.value == "직접입력"){
				document.getElementById(`${e.id}`).replaceWith(input);
				document.getElementById(`${e.id}`).focus();
			}
		}
	
		function blurHandler(e){
			if(e.value == ""){
				const select = document.createElement("select");
				select.setAttribute('onchange', 'changeHandler(this)');
				select.setAttribute('id', `${e.id}`);
	
				select.innerHTML = `<option value="2022">2022</option>
											<option value="2021">2021</option>
											<option value="2020">2020</option>
											<option value="2019">2019</option>
											<option value="직접입력">직접입력</option>`;
				document.getElementById(`${e.id}`).replaceWith(select);
			}	
		}
	
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');
		    var calendar = new FullCalendar.Calendar(calendarEl, {
		      initialView: 'dayGridMonth',
			  editable : true,
		    	eventLimit : true,
				aspectRatio: 1.8,
			  	locale: 'ko'
		    });
		    calendar.render();
		});
		$('.datepicker-new').datepicker({
			language: 'ko',
			minDate: new Date() // Now can select only dates, which goes after today
		})
    </script>
</body>
</html>