<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/board/boardDetail.css}">
<!-- 여기에 페이지 css파일 적용 -->
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header" />
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/"> <img
				th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="shoes/list">메인 페이지</a>
					</li>
					<li class="nav-item mr-3 tab-selected">
						<a class="nav-link font-weight-bold" href="resell/resellList">게시판</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">전자결재</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">급여관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">퇴직금</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">재고 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">근태 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">입출고</a>
					</li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul
				class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
				id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand"
					href="${ pageContext.servletContext.contextPath }/myPage/drawHistory">
					<div class="sidebar-brand-icon rotate-n-15"></div>
					<div class="sidebar-brand-text mx-3">게시판</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapseUtilities"
					aria-expanded="true" aria-controls="collapseUtilities"> <span>공지사항</span>
				</a></li>
				<!-- Nav Item - Utilities Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapseUtilities"
					aria-expanded="true" aria-controls="collapseUtilities"> <span>사내게시판</span>
				</a></li>
				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<div id="boardDetail" class="container" style="width: 80%;">
				<h3 style="font-weight: 900; display: inline;">사내게시판</h3>
				<button type="button" class="btn btn-outline-secondary" id="listBtn"
					onclick="location.href='houseboard.html'" style="float: right;">목록보기</button>
				<hr style="clear: both;">
				<div class="bonmun">
					2021.11.11
					<h3>[신규매장] 세계최초 남극1호점 개점😋</h3>
					<br>
					<div class="realBonmun">
						안녕하세요. 온세상이 아이스크림과 함께 EPR BOOM 입니다.<br> <br> 아이스크림 판매점
						최초로 남극에 우리 ERP BOOM 매장이 생겼습니다. <br> <br> 다들 처음 매장 오픈하셨을때
						고생 많으셨던거 아시죠오??? <br> <br> 새로운 가족이 생겼으니 다들 응원 부탁드리며
						남극1호점 오픈 기념 본사에서 전 매장 <br> <br> 일주일간 점주님 비용없이 발주지원
						들어가겠습니다. 👏👏👏<br> <br>

						<h5>기간 | 12월 09일 (금) ~ 12월 16일 (목)</h5>
						<h5>발주 마감일 | 12월 01일 (금)</h5>
						<br> 발주 마감전, 기존 매장재고 꼭 확인하시어 발주 부탁드립니다.<br> <br>
						감사합니다.<br> <br>
					</div>
				</div>
				<hr style="clear: both;">

				<h5 class="comment_title" style="font-weight: bold">댓글</h5>

				<div class="comments" style="background-color: #b6e8fd;">
					<a class="comment_nickname">가맹점: 강남1호점</a> <span
						class="comment_info_date" style="float: right;">2021.10.23.
						09:56</span>
					<div class="comment_text_box">
						<p class="comment_text_view">
							<span class="text_comment">앞으로 무한한 활동 기대합니다. 반갑습니다🤗</span>
						</p>
						<div class="comment_info_box">
							<a href="#" role="button" class="comment_info_button"
								style="float: right;">답글쓰기</a>
							<hr>
						</div>
					</div>
				</div>
				<br>
				<div class="CommentBox">
					<ul class="comment_list">
						<img th:src="@{uses/pngwing.com.png}" class="wing">
						<li id="75070218" class="CommentItem CommentItem--reply">
							<div class="comment_area" style="background-color: #b6e8fd;">
								<div class="comment_box">
									<div class="comment_nick_box">
										<span class="comment_info_date" style="float: right;">2021.11.03.
											16:25</span>
										<div class="comment_nick_info">
											<a id="cih75070218" href="#" role="button"
												aria-haspopup="true" aria-expanded="false"
												class="comment_nickname">가맹점: 남극1호점</a>
										</div>
										<div class="comment_text_box">
											<p class="comment_text_view">
												<span class="text_comment">날이 추운지 밖에 사람이 없네요...
													감사합니다~!</span>
											</p>
										</div>
										<div class="comment_info_box">
											<a href="#" role="button" class="comment_info_button"
												style="float: right;">답글쓰기</a>
											<hr>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<br>
				<div class="comment_inbox">
					<br> <a id="cih75070218" href="#" role="button"
						aria-haspopup="true" aria-expanded="false"
						class="comment_nickname" style="margin-left: 20px;">본사: 런닝맨</a>
					<button type="button" class="inbox_btn"
						style="float: right; margin: 50px;">등록</button>
					<div class="comment_text">
						<textarea placeholder="댓글을 남겨보세요" class="comment_inbox_text"
							style="margin-left: 10px; border: none; resize: none; width: 750px; height: 70px; margin: 20px; outline-style: none;"></textarea>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>