<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"><!-- dataTable -->
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/tna/regTna.css}">	<!-- 여기에 페이지 css파일 적용 -->
<style>
	.fDiv{
		float: left;
		text-align: left;
		margin-left: 5px;
	}
	.pDiv{
		float: right;
		text-align: right;
	}
	.databutton{
		margin: 5px 5px 0px 8px;
	    background-color: #f3f3f3;
	    align-items: center;
	}
</style>
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header"/>
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/">
				<img th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
                  		<a class="nav-link font-weight-bold" href="/main/main">메인 페이지</a>
               		</li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/board/boardList">게시판</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/ea/ea">전자결재</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/salary/salary">급여관리</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/sp/sp">퇴직금</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/inventory/inventory">재고 관리</a>
	                </li>
	                <li class="nav-item mr-3 tab-selected">
	                    <a class="nav-link font-weight-bold" href="/tna/tna">근태 관리</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/inOut/inOut">입출고</a>
	                </li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="${ pageContext.servletContext.contextPath }/myPage/drawHistory">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">근태관리</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<li class="nav-item">
					<a class="nav-link collapsed on" href="/tna/regTna">
						<span>근태조회</span>
					</a>
				</li>

				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<!--hhj_내용추가-->
					<div id="content-wrapper" class="d-flex flex-column">
						<div class="">
						<br>
							<ul class="tab ul-tab">
								<li class="li-tab electronic_approval on"><span>근태 조회</span></li>
							</ul>
							
						<div class="">
							<div class="databutton">
								<p>일자 : 
									<input type="date" id="selectDate">
									<button type="button" class="gray_btn" style="margin-left: 5px;" id="abc">조회</button>
									<button id="allSelect" type="button" name="Allbut" class="blue_btn" style="float: right !important; margin-right: 5px;">전체조회</button>
									</p>
							</div>
							<br clear="all" style="display: none">
							
							
							<div class="tableArea">
								<table class="" id="tnaTable">
									<colgroup>
										<col style="width:8%">
										<col style="width:10%">
										<col style="width:10%">
										<col style="width:8%">
										<col style="width:10%">
										<col style="width:10%">
										<col style="width:9%">
										<col style="width:8%">
									</colgroup>
									<thead>
										<tr>
											<th>날짜</th>
											<th>이름</th>
											<th>지점</th>
											<th>사번</th>
											<th>부서</th>
											<th>직급</th>
											<th>근태</th>
											<th>조회</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
		
		$(document).ready(function () {
			window.onload = function(){
				find = 0;
				var ttt = $.ajax({
					url: "/tna/tnaList",
					type: "get",
					data: {
						find : find
					},
					success: function(data){
						$("#tnaTable").dataTable({
							"pagingType": "full_numbers",
							"language": {
					            "lengthMenu": "페이지당 줄수 _MENU_",
					            "zeroRecords": "내역이 존재하지 않습니다.",
					            "search": "검색 : ",
					            "paginate": {
					                "previous": "이전",
					                "next" : "다음",
					                "first" : "처음",
					                "last" : "마지막"
					              }
					        },
							data: data,
							columns: [
								{ data : 'date'},
								{ data : 'member.name'},
								{ data : 'member.company.name'},
								{ data : 'member.empNo'},
								{ data : 'member.dept.name'},
								{ data : 'member.rank.name'},
								{ data : 'status'},
								/* {data: 'member.name', defaultContent: "<button type='button' class='btn btn-primary' id='ta' value='" + data + "'onclick='ddd()'>상세정보</button>"}, */
								{ data : "", render: function(data,type,row){ return "<button id='btn_info' name='ddd' type='button' value='"+row.member.name+"' class='gray_btn'>조회</button>"; } }

							],
							"order" : [],
				            /* 보이는 갯수 설정 안보이게 */
				            lengthChange: false,
				            /* 페이지 전체수 나오던 부분 안보이게*/
				            info : false,
				            /* 구조 설정 태그 안에 글자는 div클래스명 <style>에서 float 주고싶은대로 주면됨*/
				            "dom": 't<"fDiv"f><"pDiv"p>',
				            
				            /* 컬럼 옆에 정렬표시 제거 2번째꺼부터가 0번 인덱스임 row부분은 order를 []처리하면됨*/
				            "aoColumnDefs": [
				                { 'bSortable': false, 'aTargets': [ 0, 1, 2, 3, 4, 5, 6, 7 ] }
				             ]
						});
					},
					error: function(xhr){
						console.log("에러임");
						console.log(xhr);
						 }
				});
			}
				$("#abc, #allSelect").click(function(){
						var find = $("#selectDate").val();
					
						if($(this).attr("name") == 'Allbut'){
								find = 0;							
						}					
								var table = $("#tnaTable").DataTable();
								table.destroy();	
								
								
								var ttt = $.ajax({
										url: "/tna/tnaList",
										type: "get",
										data: {
											find : find
										},
										success: function(data){
											$("#tnaTable").dataTable({
												"pagingType": "full_numbers",
												"language": {
										            "lengthMenu": "페이지당 줄수 _MENU_",
										            "zeroRecords": "내역이 존재하지 않습니다.",
										            "search": "검색 : ",
										            "paginate": {
										                "previous": "이전",
										                "next" : "다음",
										                "first" : "처음",
										                "last" : "마지막"
										              }
										        },
												data: data,
												columns: [
													{ data : 'date'},
													{ data : 'member.name'},
													{ data : 'member.company.name'},
													{ data : 'member.empNo'},
													{ data : 'member.dept.name'},
													{ data : 'member.rank.name'},
													{ data : 'status'},
													{ data : "", render: function(data,type,row){ return "<button id='btn_info' name='ddd' type='button' value='"+row.member.name+"' class='gray_btn'>조회</button>"; } }

												],
												"order" : [],
									            /* 보이는 갯수 설정 안보이게 */
									             lengthChange: false,
									            /* 페이지 전체수 나오던 부분 안보이게*/
									             info : false,
									            /* 구조 설정 태그 안에 글자는 div클래스명 <style>에서 float 주고싶은대로 주면됨*/
									             "dom": 't<"fDiv"f><"pDiv"p>',
									            
									            /* 컬럼 옆에 정렬표시 제거 2번째꺼부터가 0번 인덱스임 row부분은 order를 []처리하면됨*/
									             "aoColumnDefs": [
									                { 'bSortable': false, 'aTargets': [ 0, 1, 2, 3, 4, 5, 6, 7 ] }
									             ]
											});
										},
										error: function(xhr){
											console.log("에러임");
											console.log(xhr);
											 }
									});
								
							
				}); 
							
				$(document).on('click', 'button[name="ddd"]', function() {
				     var name = $(this).attr('value');
				     
				     location.href="/tna/detail?name=" + name;
				});
		})
							</script>
	</section>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
	
</body>
</html>