<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"><!-- dataTable -->
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/tna/regTna.css}">	<!-- 여기에 페이지 css파일 적용 -->
<style>
	.fDiv{
		float: left;
		text-align: left;
		margin-left: 5px;
	}
	.pDiv{
		float: right;
		text-align: right;
	}
</style>
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header"/>
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/">
				<img th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
                  		<a class="nav-link font-weight-bold" href="/main/main">메인 페이지</a>
               		</li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/board/boardList">게시판</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/ea/ea">전자결재</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/salary/salary">급여관리</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/sp/sp">퇴직금</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/inventory/inventory">재고 관리</a>
	                </li>
	                <li class="nav-item mr-3 tab-selected">
	                    <a class="nav-link font-weight-bold" href="/tna/tna">근태 관리</a>
	                </li>
	                <li class="nav-item mr-3">
	                    <a class="nav-link font-weight-bold" href="/inOut/inOut">입출고</a>
	                </li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="${ pageContext.servletContext.contextPath }/myPage/drawHistory">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">근태조회</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<li class="nav-item">
					<a class="nav-link collapsed on" href="/tna/regTna">
						<span>근태조회</span>
					</a>
				</li>

				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<!--hhj_내용추가-->
					<div class="content-wrapper">
						<a class="gray_btn" type="button" style="float: right; margin-right: 10px; margin-top: 5px;" th:href="@{/tna/tna}">뒤로가기</a>
					<br>
						<ul class="tab ul-tab">
							<li class="li-tab electronic_approval on"><span>근태 조회</span></li>
						</ul>
						<!--전체-->
						<div id="total_attendance" class="tab_contents current">
							<div class="tableArea">
								<table class="DetailTable">
									<colgroup>
										<col style="width:8%">
										<col style="width:10%">
										<col style="width:10%">
										<col style="width:8%">
										<col style="width:10%">
										<col style="width:10%">
										<col style="width:9%">
										<col style="width:10%">
									</colgroup>
									<thead>
										<tr>
											<th>날짜</th>
											<th>이름</th>
											<th>지점</th>
											<th>사번</th>
											<th>부서</th>
											<th>직급</th>
											<th>근태</th>
											<th>옵션</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="detail : ${ member }">
											<td th:text="${detail.date}" name="dateLan" th:value="${detail.date}"></td>
											<td th:text="${detail.member.name}" id="reginame"></td>
											<td th:text="${detail.member.company.name}" id="comname"></td>
											<td th:text="${detail.member.empNo}" id="memno"></td>
											<td th:text="${detail.member.dept.name}" id="depname"></td>
											<td th:text="${detail.member.rank.name}" id="rankname"></td>
											<td th:text="${detail.status}"></td>
											<td><a class="blue_btn pop_btn regibut" style="margin-right: 5px; text-decoration: none;" data-button="regist_edit_pop" th:value="${detail.date}">수정</a>
											<a class="gray_btn delWork" th:href="@{/tna/deleteWork(name=${detail.member.name},date=${detail.date})}">삭제</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="btm_area">
								<button id="" class="blue_btn pop_btn" data-button="new_edit_pop">신규</button>
							</div>
						</div>
						
						<script>
						$(document).ready(function () {
							
						var timer = setInterval(function() {
							$.fn.DataTable.ext.pager.numbers_length = 6;
							
							$('.DetailTable').DataTable({
								"pagingType": "full_numbers",
								"language": {
						            "lengthMenu": "페이지당 줄수 _MENU_",
						            "zeroRecords": "결과가 존재하지 않습니다.",
						            "search": "검색 : ",
						            "paginate": {
						                "previous": "이전",
						                "next" : "다음",
						                "first" : "처음",
						                "last" : "마지막"
						              }
						        },
					            "order" : [],
					            /* 보이는 갯수 설정 안보이게 */
					            lengthChange: false,
					            /* 페이지 전체수 나오던 부분 안보이게*/
					            info : false,
					            /* 구조 설정 태그 안에 글자는 div클래스명 <style>에서 float 주고싶은대로 주면됨*/
					            "dom": 't<"fDiv"f><"pDiv"p>',
					            
					            /* 컬럼 옆에 정렬표시 제거 2번째꺼부터가 0번 인덱스임 row부분은 order를 []처리하면됨*/
					            "aoColumnDefs": [
					                { 'bSortable': false, 'aTargets': [ 0, 1, 2, 3, 4, 5, 6, 7 ] }
					             ]
					        });
							
							clearInterval(timer);
							
						}, 100);
						
							$(".regibut").click(function(){
								$("#regiBody").html("");
								
								$regi = $(this).attr('value');
								$name = $("#reginame").text();
								$comname = $("#comname").text();
								$memno = $("#memno").text();
								$depname = $("#depname").text();
								$rankname = $("#rankname").text();
								
								$apen1 = $("<td id=regidate>").text($regi);
								$apen2 = $("<td id=registname>").text($name);
								$apen3 = $("<td>").text($comname);
								$apen4 = $("<td>").text($memno);
								$apen5 = $("<td>").text($depname);
								$apen6 = $("<td>").text($rankname);
								
								$tr = $("<tr>");
								
								$tr.append($apen1);
								$tr.append($apen2);
								$tr.append($apen3);
								$tr.append($apen4);
								$tr.append($apen5);
								$tr.append($apen6);
								$tr.append("<td><select id=selectStat><option value=1>출근</option><option value=2>지각</option><option value=3>조퇴</option><option value=4>결근</option></select>");
								
								$("#regiBody").append($tr)
							});
							
						$(".registR").click(function(){
							name = $("#registname").text();
							date = $("#regidate").text();
							selectStat = $("#selectStat").val();
							
							location.href="/tna/regiTna?name="+name+"&date="+date+"&selectStat="+selectStat;
							
						});
						
						$("#newWorkPlus").click(function(){
							var date = $("#newWorkDate").val();
							var name = $("#newWorkName").text();
							var selectStat = $("#newWorkSelect").val();
							var dateFlag = false;
							var dateLen = $("td[name=dateLan]").length;
							var dateEqual = new Array(dateLen);
							
							for(var i = 0 ; i < dateLen ; i++){
								dateEqual[i] = $("td[name=dateLan]").eq(i).text();
								
								if(dateEqual[i] == date){
									dateFlag = true;		
								}
							}
							
							if(date == ""){
								alert("날짜를 선택하세요!");
							} else if(dateFlag){
								alert("기존 날짜가 있습니다.");
							} else {
								location.href="/tna/newWork?name="+name+"&date="+date+"&selectStat="+selectStat;		
							}
						});
						
						})
						</script>
					</div>
					
					<!--근태수정 팝업-->					
					<div id="regist_edit_pop" class="pop_layer">
					
						<div class="top_area">
							<h2>근태수정</h2>
							<button type="button" class="pop_close" data-button="regist_edit_pop">닫기</button>
						</div>
						<div class="pop_inner">
						<br>
							</div>
							<div class="tableArea">
								<table>
									<caption>근태수정</caption>
									<colgroup>
										<col style="width:8%">
										<col style="width:10%">
										<col style="width:10%">
										<col style="width:8%">
										<col style="width:10%">
										<col style="width:10%">
										<col style="width:9%">
									</colgroup>
									<thead>
										<tr>
											<th>날짜</th>
											<th>이름</th>
											<th>지점</th>
											<th>사번</th>
											<th>부서</th>
											<th>직급</th>
											<th>근태</th>
										</tr>
									</thead>
									<tbody id="regiBody">
									</tbody>
								</table>
						</div>
						<div class="btm_area">
							<button type="button" class="blue_btn registR">수정</button>
						</div>
					</div>
					<!--//근태수정 팝업-->
					<!--근태신규 팝업-->					
					<div id="new_edit_pop" class="pop_layer">
						<div class="top_area">
							<h2>근태 추가</h2>
							<button type="button" class="pop_close" data-button="new_edit_pop">닫기</button>
						</div>
						<div class="pop_inner">
						<br>
							</div>
							<div class="tableArea">
								<table>
									<colgroup>
										<col style="width:8%">
										<col style="width:10%">
										<col style="width:10%">
										<col style="width:8%">
										<col style="width:10%">
										<col style="width:10%">
										<col style="width:9%">
									</colgroup>
									<thead>
										<tr>
											<th>날짜</th>
											<th>이름</th>
											<th>지점</th>
											<th>사번</th>
											<th>부서</th>
											<th>직급</th>
											<th>근태</th>
										</tr>
									</thead>
									<tbody id="">
										<tr>
											<td><input type="date" id="newWorkDate"></td>
											<td th:text="${mem.name}" id="newWorkName"></td>
											<td th:text="${mem.company.name}"></td>
											<td th:text="${mem.empNo}"></td>
											<td th:text="${mem.dept.name}"></td>
											<td th:text="${mem.rank.name}"></td>
											<td><select id="newWorkSelect"><option value=1>출근</option><option value=2>지각</option><option value=3>조퇴</option><option value=4>결근</option></select>
										</tr>
									</tbody>
								</table>
						</div>
						<div class="btm_area">
							<button type="button" class="blue_btn" id="newWorkPlus">추가</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</body>
</html>