<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/salary/salary.css}">	<!-- 여기에 페이지 css파일 적용 -->
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header"/>
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/">
				<img th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="shoes/list">메인 페이지</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">게시판</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">전자결재</a>
					</li>
					<li class="nav-item mr-3 tab-selected">
						<a class="nav-link font-weight-bold" href="/salary/salary">급여관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">퇴직금</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">재고 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">근태 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">입출고</a>
					</li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion mt-0" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="${ pageContext.servletContext.contextPath }/myPage/drawHistory">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">급여관리</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Utilities Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
						aria-expanded="true" aria-controls="collapseUtilities">
						<span>사원별급여조회</span>
					</a>
				</li>
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<!-- 여기부터 급여관리 리스트 -->
					<div class="">

						<div class="search_form">
							<input type="text" placeholder="검색어 입력" />
							<button type="button" class="blue_btn">Search</button>
						</div>

						<div id="all_approval" class="tab_contents electronic_approval current">
							<div class="tableArea">
								<table>
									<caption>급여관리</caption>
									<!-- <colgroup>
										<col style="width:4%" />
										<col style="width:10%" />
										<col style="width:45%" />
										<col style="width:15%" />
										<col style="width:15%" />
									</colgroup> -->
									
									<!-- 관리자 X -->
									<!-- 
									<thead>
										<tr>
											<th>귀속연월</th>
											<th>사원명</th>
											<th>월급</th>
											<th>보너스</th>
											<th>지급총액</th>
										</tr>
									</thead>
									<tbody>
									<tr th:each="salary : ${ salaryList }">
										<td th:with="date=${#dates.format(salary.Date, 'yyyy-MM')}" th:text="${ #dates.format(salary.Date, 'yyyy-MM') }"></td>
										<td th:text="${ salary.member.name }"></td>
										<td th:text="${ #numbers.formatInteger(salary.regularPay, 1, 'COMMA') }"></td>
										<td th:text="${ #numbers.formatInteger(salary.bonus, 1, 'COMMA') }"></td>
										<th:block th:with="total = ${ #numbers.formatInteger(salary.regularPay, 1)} +  ${ #numbers.formatInteger(salary.bonus, 1) }">
											<td th:text="${ #numbers.formatInteger(total, 1, 'COMMA')}"></td>
										</th:block>
									</tr>
									 -->
									 	
									<!-- 관리자 O -->
									<thead>
										<tr>
											<th>번호</th>	
											<th>귀속연월</th>
											<th>사원명</th>
											<th>월급</th>
											<th>보너스</th>
											<th>지급총액</th>
										</tr>
									</thead>
									<tbody>
									<tr th:each="salary : ${ allSalaryList }">
										<td th:text="${ salary.serialNo }"></td>
										<td th:text="${ #dates.format(salary.Date, 'yyyy-MM') }"></td>
										<td th:text="${ salary.member.name }"></td>
										<td th:text="${ #numbers.formatInteger(salary.regularPay, 1, 'COMMA') }"></td>
										<td th:text="${ #numbers.formatInteger(salary.bonus, 1, 'COMMA') }"></td>
										<th:block th:with="total = ${ #numbers.formatInteger(salary.regularPay, 1)} +  ${ #numbers.formatInteger(salary.bonus, 1) }">
											<td th:text="${ #numbers.formatInteger(total, 1, 'COMMA')}"></td>
										</th:block>
									</tr>
									
										<!-- 
										<tr>
											<td class="t_center pop_btn" data-button="payroll_detail_pop2">2021/11</td>
											<td>급여</td>
											<td>0007</td>
											<td>홍길동</td>
											<td>2,174,793</td>
										</tr>
										<tr>
											<td class="t_center pop_btn" data-button="payroll_detail_pop3">2021/11</td>
											<td>급여</td>
											<td>0010</td>
											<td>최코코</td>
											<td>4,123,345</td>
										</tr>	
										<tr>
											<td class="t_center pop_btn" data-button="payroll_detail_pop4">2021/10</td>
											<td>급여</td>
											<td>0023</td>
											<td>김양말</td>
											<td>2,134,793</td>
										</tr>
										<tr>
											<td class="t_center pop_btn" data-button="payroll_detail_pop4">2021/11</td>
											<td>급여</td>
											<td>0033</td>
											<td>최유정</td>
											<td>1,210,000</td>
										</tr> 
										-->
										
									</tbody>
								</table>

								<!-- 페이징 처리-->
								<div class="paging">
									<button type="button" class="first_btn">처음페이지</button>
									<button type="button" class="prev_btn">이전페이지</button>
									<a href="#n" class="num on">1</a>
									<a href="#n" class="num">2</a>
									<a href="#n" class="num">3</a>
									<a href="#n" class="num">4</a>
									<button type="button" class="next_btn">다음페이지</button>
									<button type="button" class="last_btn">마지막페이지</button>
								</div>

							</div>
						</div>

						<!-- 관리자 권한 설정 필요 -->
						<div class="btn_area">
							<a href="#n" class="blue_btn pop_btn" data-button="new_payroll_pop">신규등록</a>
						</div>
					</div>
					<!-- 여기까지 급여관리 리스트 -->

					<!-- 여기부터 급여관리 팝업 -->
					<!-- 신규 등록하기 -->
					<div id="new_payroll_pop" class="payroll_pop_layer">
						<div class="top_area">
							<h2>신규급여등록</h2>
							<button type="button" class="pop_close" data-button="new_payroll_pop">닫기</button>
						</div>
						<form action="/salary/regist" method="post">										
							<div class="pop_inner">
								<div class="tableArea">
									<table>
										<caption>신규급여내역</caption>
										<thead>
											<th>귀속연월</th>
											<th>사원명</th>
											<th>기본급</th>
											<th>보너스</th>
										</thead>
										<tbody>
											<tr>
												<!-- <td><input type="text" value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}" style="text-align: center;">귀속연월</td> -->
												<td th:text="${ #calendars.format(#calendars.createNow(), 'yyyy-MM')}" name="Date" id="Date" value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}">귀속연월</td>
												<!-- <td><input type="text" name="name" id="name" style="text-align: center;" required="required"></td> -->
												<td>
													<select name="name" id="name" style="width: 10%;" class="form-control select2">
														<option th:each="member : ${ memberList }" th:text="${ member.name }"></option>
													</select>
												</td>
												<td><input type="text" name="regularPay" id="regularPay" style="text-align: center;" required="required"></td>
												<td><input type="text" name="bonus" id="bonus" style="text-align: center;"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="btn_area">
									<!-- <a href="#n" class="blue_btn">등록</a> -->
									<button type="submit" class="blue_btn" id="registBtn">등록</button>
									<a href="#n" class="gray_btn pop_close" data-button="new_payroll_pop">닫기</a>
								</div>
							</div>
						</form>
					</div>
					
          	   <!-- 상세보기 --> 
               <!-- 관리자 아닌 경우 : 본인의 내역 조회만 가능 (수정 및 추가 불가) -->
               <div id="payroll_detail_pop1" class="payroll_pop_layer">
                  <div class="top_area">
                     <h2>급여내역상세</h2>
                     <button type="button" class="pop_close" data-button="payroll_detail_pop1">닫기</button>
                  </div>
                  <div class="pop_inner">
                     <div class="tableArea">
                        <table>
                           <caption>급여내역상세</caption>
                           <thead>
                              <th>귀속연월</th>
                              <th>사원명</th>
                              <th>기본급</th>
                              <th>보너스</th>
                              <th>연봉</th>
                           </thead>
                           <tbody>
                              <tr>                              
                                 <td>2021/11 - 4</td>
                                 <td>김회계</td>
                                 <td>000</td>
                                 <td>000</td>
                                 <td>000</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  <div class="btn_area">
               ㅏ     <a href="#n" class="gray_btn pop_close" data-button="payroll_detail_pop1">닫기</a>
                  </div>
               </div>
            </div>
            
            <!-- 관리자인 경우 : 모든 내역 조회 가능 -->
            <div id="payroll_detail_pop2" class="payroll_pop_layer">
               <div class="top_area">
                  <h2>급여내역상세</h2>
                  <button type="button" class="pop_close" data-button="payroll_detail_pop2">닫기</button>
               </div>
               <div class="pop_inner">
                  <div class="tableArea">
                     <table>
                        <caption>급여내역상세</caption>
                        <thead>
                           <th>귀속연월</th>
                           <th>사원명</th>
                           <th>기본급</th>
                           <th>보너스</th>
                           <th>연봉</th>
                        </thead>
                        <tbody>
                           <tr>                              
                              <td>2021/11 - 3</td>
                              <td>홍길동</td>
                              <td><input type="text" value="1,000,000" style="text-align: center;"></td>
                              <td><input type="text" value="210,000" style="text-align: center;"></td>
                              <td><input type="text" value="21,500,000" style="text-align: center;"></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="btn_area">
                     <a href="#n" class="blue_btn">수정</a>
                     <a href="#n" class="gray_btn pop_close" data-button="payroll_detail_pop2">닫기</a>
                  </div>
               </div>
            </div>
            
            <div id="payroll_detail_pop3" class="payroll_pop_layer">
               <div class="top_area">
                  <h2>급여내역상세</h2>
                  <button type="button" class="pop_close" data-button="payroll_detail_pop3">닫기</button>
               </div>
               <div class="pop_inner">
                  <div class="tableArea">
                     <table>
                        <caption>급여내역상세</caption>
                        <thead>
                           <th>귀속연월</th>
                           <th>사원명</th>
                           <th>기본급</th>
                           <th>보너스</th>
                           <th>연봉</th>
                        </thead>
                        <tbody>
                           <tr>                              
                              <td>2021/11 - 2</td>
                              <td>최코코</td>
                              <td><input type="text" value="1,000,000" style="text-align: center;"></td>
                              <td><input type="text" value="210,000" style="text-align: center;"></td>
                              <td><input type="text" value="21,500,000" style="text-align: center;"></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="btn_area">
                     <a href="#n" class="blue_btn">수정</a>
                     <a href="#n" class="gray_btn pop_close" data-button="payroll_detail_pop3">닫기</a>
                  </div>
               </div>
            </div>
            <div id="payroll_detail_pop4" class="payroll_pop_layer">
               <div class="top_area">
                  <h2>급여내역상세</h2>
                  <button type="button" class="pop_close" data-button="payroll_detail_pop4">닫기</button>
               </div>
               <div class="pop_inner">
                  <div class="tableArea">
                     <table>
                        <caption>급여내역상세</caption>
                        <thead>
                           <th>귀속연월</th>
                           <th>사원명</th>
                           <th>기본급</th>
                           <th>보너스</th>
                           <th>연봉</th>
                        </thead>
                        <tbody>
                           <tr>                              
                              <td>2021/10 - 1</td>
                              <td>김양말</td>
                              <td><input type="text" value="1,000,000" style="text-align: center;"></td>
                              <td><input type="text" value="210,000" style="text-align: center;"></td>
                              <td><input type="text" value="21,500,000" style="text-align: center;"></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="btn_area">
                     <a href="#n" class="blue_btn">수정</a>
                     <a href="#n" class="gray_btn pop_close" data-button="payroll_detail_pop4">닫기</a>
                  </div>
               </div>
            </div>

            <!-- 여기까지 급여관리 팝업 -->

			</div>
		</div>
	</section>
	
	<script>
		$(document).ready(function(){
			$('.select2').select2({
				placeholder: "선택해주세요",
			});
		});
	</script>
</body>
</html>