<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"><!-- dataTable -->
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/salary/salary.css}">	<!-- 여기에 페이지 css파일 적용 -->
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header"/>
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/">
				<img th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/main/main">메인 페이지</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/board/boardList">게시판</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/ea/ea">전자결재</a>
	               </li>
	               <li class="nav-item mr-3 tab-selected">
	                  <a class="nav-link font-weight-bold" href="/salary/salary">급여관리</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/sp/sp">퇴직금</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/inventory/inventory">재고 관리</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/tna/tna">근태 관리</a>
	               </li>
	               <li class="nav-item mr-3">
	                  <a class="nav-link font-weight-bold" href="/inOut/inOut">입출고</a>
	               </li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion mt-0" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="${ pageContext.servletContext.contextPath }/myPage/drawHistory">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">급여관리</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Utilities Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed on" href="#" data-toggle="collapse" data-target="#collapseUtilities"
						aria-expanded="true" aria-controls="collapseUtilities">
						<span>사원별급여조회</span>
					</a>
				</li>
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<!-- 여기부터 급여관리 리스트 -->
					<div class="">
					<br>
					<h1 class="h2 text-gray-900" style="padding: 30px; display: inline;">급여 관리</h1>
						<div class="search_form">
						
						</div>

						<div id="all_approval" class="tab_contents electronic_approval current">
							<div class="tableArea">
								<table class="Table">
									<caption>급여관리</caption>
									
									<!-- 관리자 X -->
											<colgroup>
												<col style="width:15%" />
												<col style="width:10%" />
												<col style="width:25%" />
												<col style="width:25%" />
												<col style="width:25%" />
											</colgroup> 
											<thead>
												<tr>
													<th align="center">귀속연월</th>
													<th>사원명</th>
													<th>월급</th>
													<th>보너스</th>
													<th>지급총액</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="salary : ${ salaryList }">
													<td th:with="date=${#dates.format(salary.Date, 'yyyy-MM')}" th:text="${ #dates.format(salary.Date, 'yyyy-MM') }"></td>
													<td th:text="${ salary.member.name }"></td>
													<td th:text="${ #numbers.formatInteger(salary.regularPay, 1, 'COMMA') }"></td>
													<td th:text="${ #numbers.formatInteger(salary.bonus, 1, 'COMMA') }"></td>
													<th:block th:with="total = ${ #numbers.formatInteger(salary.regularPay, 1)} +  ${ #numbers.formatInteger(salary.bonus, 1) }">
														<td th:text="${ #numbers.formatInteger(total, 1, 'COMMA')}"></td>
													</th:block>
												</tr>
											</tbody>
								
								</table>
							</div>
						</div>

						<!-- 관리자 권한 설정 필요
						<div class="btn_area" sec:authorize="hasRole('ROLE_ADMIN')">
							<a href="#n" class="blue_btn pop_btn" data-button="new_payroll_pop">신규등록</a>
						</div>
						 -->
					</div>
					<!-- 여기까지 급여관리 리스트 -->

					<!-- 여기부터 급여관리 팝업 -->
					<!-- 신규 등록하기 -->
			
					
          	   <!-- 상세보기 및 수정 --> 
               <!-- 관리자 아닌 경우 : 본인의 내역 조회만 가능 (수정 및 추가 불가) -->
               <div class="payroll_pop_layer" th:each="salary : ${ allSalaryList }" th:attr="id=${ 'payroll_detail_pop' + salary.serialNo }">
                  <div class="top_area">
                     <h2>급여내역수정</h2>
                     <button type="button" class="pop_close" th:attr="data-button=${ 'payroll_detail_pop' + salary.serialNo }">닫기</button>
                  </div>
                  <div class="pop_inner">
                     <div class="tableArea">
                        <table>
                           <thead>
                              <th>귀속연월</th>
                              <th>사원명</th>
                              <th>기본급</th>
                              <th>보너스</th>
                           </thead>
                           <tbody>
                              <tr>                              
                                 <td th:text="${ #calendars.format(salary.Date, 'yyyy-MM')}" th:value="${ salary.Date }" style="text-align: center;"></td>
							   	 <td id="name" th:text="${ salary.member.name }" style="text-align: center;"></td>
								 <td><input type="text" id="regularPay" th:value="${ salary.regularPay }" style="text-align: center;"></td>
								 <td><input type="text" id="bonus" th:value="${ salary.bonus }" style="text-align: center;"></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  <div class="btn_area">
                    <a href="#n" class="gray_btn pop_close" th:attr="data-button=${ 'payroll_detail_pop' + salary.serialNo }">닫기</a>
                  </div>
               </div>
            </div>
            <!-- 여기까지 급여관리 팝업 -->

			</div>
		</div>
		</div>
	</section>
	
	<script>
		$(document).ready(function(){
			$('.select2').select2({
				placeholder: "선택해주세요",
			});
		});
		
		/* dataTable */
		var timer = setInterval(function() {
			$.fn.DataTable.ext.pager.numbers_length = 5;
			$('.Table').DataTable({
				"pagingType": "full_numbers",
				"language": {
		            "lengthMenu": "페이지당 줄수 _MENU_",
		            "zeroRecords": "급여 검색 결과가 존재하지 않습니다.",
		            "info": "_PAGE_ / _PAGES_",
		            "infoEmpty": "급여 항목이 존재하지 않습니다.",
		            "infoFiltered": "(총 _MAX_ 개의 항목이 제외 되었습니다.)",
		            "search": "검색 : ",
		            "paginate": {
		                "previous": "이전",
		                "next" : "다음",
		                "first" : "처음",
		                "last" : "마지막"
		              }
		        },
	            "order" : [ [0, 'DESC'], [1, 'DESC'] ],
	            /* 보이는 갯수 설정 안보이게 */
	            lengthChange: false,
	            /* 페이지 전체수 나오던 부분 안보이게*/
	            info : false,
	            /* 구조 설정 태그 안에 글자는 div클래스명 <style>에서 float 주고싶은대로 주면됨*/
	            "dom": 't<"fDiv"f><"pDiv"p>',
	            
	            /* 컬럼 옆에 정렬표시 제거 2번째꺼부터가 0번 인덱스임 row부분은 order를 []처리하면됨*/
	            "aoColumnDefs": [
	                { 'bSortable': false, 'aTargets': [ 0, 1, 2, 3, 4] }
	             ]
	        });
			
			clearInterval(timer);
		}, 100);
	</script>
	
	<!-- dataTable -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
	
</body>
</html>