<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/retire/retire.css}">	<!-- 여기에 페이지 css파일 적용 -->
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header"/>
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/">
				<img th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="shoes/list">메인 페이지</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">게시판</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">전자결재</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">급여관리</a>
					</li>
					<li class="nav-item mr-3 tab-selected">
						<a class="nav-link font-weight-bold" href="resell/resellList">퇴직금</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">재고 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">근태 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="resell/resellList">입출고</a>
					</li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="${ pageContext.servletContext.contextPath }/myPage/drawHistory">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">퇴직금 목록</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
						aria-expanded="true" aria-controls="collapseUtilities">
						<span>퇴직금</span>
					</a>
				</li>
				<!-- Nav Item - Utilities Collapse Menu -->
				<!-- <li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
						aria-expanded="true" aria-controls="collapseUtilities">
						<span>퇴직금 합계</span>
					</a>
				</li> -->

				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<!-- 여기부터 퇴직금 리스트 -->
					<div class="">

						<div class="search_form">
							<input type="text" placeholder="검색어 입력" />
							<button type="button" class="blue_btn">Search</button>
						</div>
						<ul class="tab ul-tab mt-3">
							<li class="li-tab retire on" data-tab="all_retire"><span>퇴직금 목록</span></li>
							<li class="li-tab retire" data-tab="confirm_retire"><span>퇴직금 합계</span></li>
						</ul>
						<div id="all_retire" class="tab_contents retire current">
							<div class="tableArea">
								<table>
									<caption>퇴직금 목록</caption>
									<colgroup>
										<col style="width:4%" />
										<col style="width:10%" />
										<col style="width:10%" />
										<col style="width:10%" />
										<col style="width:10%" />
										<col style="width:10%" />
										<col style="width:10%" />
										<col style="width:10%" />
									</colgroup>
									<thead>
										<tr>
											<th>번호</th>
											<th>사원 번호</th>
											<th>이름</th>
											<th>부서</th>
											<th>지위/직급</th>
											<th>입사일</th>
											<th>재직년수</th>
											<th>계산내역</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>2019-12</td>
											<td>황성연</td>
											<td>마케팅팀</td>
											<td>과장</td>
											<td>2019/12/01</td>
											<td>2</td>
											<td class="t_left pop_btn" data-button="retire_detail_pop1">조회</td>
										</tr>
										<tr>
											<td>2</td>
											<td>2015-02</td>
											<td>김지혁</td>
											<td>상품관리팀</td>
											<td>과장</td>
											<td>2015/02/01</td>
											<td>5</td>
											<td class="t_left pop_btn" data-button="retire_detail_pop1">조회</td>
										</tr>
										<tr>
											<td>3</td>
											<td>2019-02</td>
											<td>김용승</td>
											<td>개발팀</td>
											<td>차장</td>
											<td>2019/02/01</td>
											<td>2</td>
											<td class="t_left pop_btn" data-button="retire_detail_pop1">조회</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div id="confirm_retire" class="tab_contents retire">
							<div class="tableArea">
								<table>
									<caption>퇴직금 합계</caption>
									<colgroup>
										<col style="width:4%" />
										<col style="width:10%" />
										<col style="width:10%" />
										<col style="width:10%" />
										<col style="width:10%" />
										<col style="width:15%" />
										<col style="width:15%" />
									</colgroup>
									<thead>
										<tr>
											<th>번호</th>
											<th>사원번호</th>
											<th>이름</th>
											<th>정산 시작일</th>
											<th>재직년수</th>
											<th>재직일수</th>
											<th>퇴직 급여</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>3</td>
											<td>2014-03</td>
											<td>김가희</td>
											<td>2015-03-01</td>
											<td>2</td>
											<td>756</td>
											<td>100,000,000</td>
										</tr>
										<tr>
											<td>4</td>
											<td>2014-03</td>
											<td>김종현</td>
											<td>2015-01-01</td>
											<td>3</td>
											<td>1060</td>
											<td>150,000,000</td>
										</tr>
										<tr style="background-color: #e5e5e5;">
											<td colspan="6">합계[2]</td>
											<td>250,000,000</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<div class="btn_area">
							<a href="#n" class="blue_btn pop_btn" data-button="new_retire_pop">신규</a>
							<a href="#n" class="gray_btn">확인</a>
							<a href="#n" class="gray_btn">선택삭제</a>
							<a href="#n" class="gray_btn">닫기</a>
						</div>
					</div>
					<!-- 여기까지 퇴직금 리스트 -->

					<!-- 여기부터 퇴직금 팝업 -->
					<div id="retire_detail_pop1" class="pop_layer">
						<div class="top_area">
							<h2>퇴직금</h2>
							<button type="button" class="pop_close" data-button="retire_detail_pop1">닫기</button>
						</div>
						<div class="pop_inner">
							<div class="retire_detail">
								<div class="top">
									<p class="name">[황성연]님 퇴직금 내역</p>
								</div>
								<div class="btn">
									<table>
									<colgroup>
										<col style="width:18%" />
										<col style="width:18%" />
										<col style="width:18%" />
										<col style="width:18%" />
										<col style="width:18%" />
									</colgroup>
									<thead>
										<tr>
											<th>퇴직일자</th>
											<th>지급일자</th>
											<th>퇴직금</th>
											<th>지급기간</th>
											<th>삭제</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2021-11-10</td>
											<td>2021-11-10</td>
											<td>111,011,111</td>
											<td>2019-12-01 ~ 2021-11-10</td>
											<td class="t_left pop_btn" data-button="retire_detail_pop1">삭제</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="btn_area">
							<!-- <a href="#n" class="blue_btn">삭제</a> -->
							<a href="#n" class="gray_btn">이전</a>
							<a href="#n" class="gray_btn">다음</a>
							<a href="#n" class="gray_btn pop_close" data-button="retire_detail_pop1">닫기</a>
						</div>
					</div>

					<!-- 퇴직금 추가 팝업 -->

				</div>
				<div id="new_retire_pop" class="pop_layer">
					<div class="top_area">
						<h2>퇴직자 퇴직금 등록</h2>
						<button type="button" class="pop_close" data-button="new_retire_pop">닫기</button>
					</div>
					<div class="pop_inner">
						<div class="new_retire">
							<div class="top">
								<p class="name">퇴직 정보 등록</p>
							</div>
							<div class="btn">
								<table>
									<colgroup>
										<col style="width:5%" />
										<col style="width:5%" />
										<col style="width:5%" />
										<col style="width:5%" />
										<col style="width:5%" />
										<col style="width:5%" />
										<col style="width:5%" />
										<col style="width:5%" />
									</colgroup>
									<thead>
										<tr>
											<th>사원번호</th>
											<th>이름</th>
											<th>부서</th>
											<th>직급</th>
											<th>입사일</th>
											<th>재직년수</th>
											<th>퇴직일자</th>
											<th>퇴직금</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><input type="text" id="emp_no"></td>
											<td><input type="text" id="emp_name"></td>
											<td><input type="text" id="dept_name"></td>
											<td><input type="text" id="rank"></td>
											<td><input type="date" id="account_join"></td>
											<td><input type="text" id="account_year"></td>
											<td><input type="date" id="account_quit"></td>
											<td><input type="text" id="quit_pay"></td>
										</tr>
									</tbody>
								</table>
							</div>
					</div>
					<div class="btn_area">
						<!-- <a href="#n" class="blue_btn">삭제</a> -->
						<a href="#n" class="blue_btn">등록</a>
						<a href="#n" class="gray_btn pop_close" data-button="new_retire_pop">닫기</a>
					</div>
				</div>
			</div>
			<!-- 여기까지 퇴직금 팝업 -->
		</div>
	</section>
</body>
</html>