<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="shortcut icon" th:href="@{/uses/Logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
<link th:href="@{/uses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/uses/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/uses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"><!-- dataTable -->
<script src="/summernote/summernote-lite.js"></script>
<script src="/summernote/lang/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/summernote/summernote-lite.css">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/ea/ea.css}">	<!-- 여기에 페이지 css파일 적용 -->
<title>ERP BOMB</title>
</head>
<body>

	<!-- header -->
	<header id="top">
		<th:block th:include="common/header"/>
	</header>

	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand font-weight-bold" href="/main/main">
				<img th:src="@{/uses/logo_new.png}" alt="" class="logo">
			</a>
			<div class="collapse navbar-collapse function-tab">
				<ul class="navbar-nav mr-3 top-tap">
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="/main/main">메인 페이지</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="/board/boardList">게시판</a>
					</li>
					<li class="nav-item mr-3 tab-selected">
						<a class="nav-link font-weight-bold" href="/ea/ea">전자결재</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="/salary/salary">급여관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="/inventory/inventory">재고 관리</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link font-weight-bold" href="/inOut/inOut">입출고</a>
					</li>
				</ul>
			</div>
		</nav>
		<hr class="m-0">
		<div id="wrapper">

			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand" href="${ pageContext.servletContext.contextPath }/myPage/drawHistory">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">전자결재</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed on" href="#" data-toggle="collapse" data-target="#collapseUtilities"
						aria-expanded="true" aria-controls="collapseUtilities">
						<span>전자결재</span>
					</a>
				</li>

				<hr class="sidebar-divider">
			</ul>
			<!-- End of Sidebar -->

			<div id="content-wrapper" class="d-flex flex-column">
				<div style="width: 80%;" class="">
					<!-- 여기부터 전자 결재 리스트 -->
					<div class="mt-4">

						<ul class="tab ul-tab">
							<th:block th:if="${#strings.equals(tab, 1)}">
								<li class="li-tab electronic_approval on" data-tab="myEaList"><span>내 기안</span></li>
								<li class="li-tab electronic_approval" data-tab="myEaPathList"><span>결재 기안</span></li>
								<li class="li-tab electronic_approval" data-tab="myEaCarbonList"><span>참조 기안</span></li>
							</th:block>
							<th:block th:if="${#strings.equals(tab, 2)}">
								<li class="li-tab electronic_approval" data-tab="myEaList"><span>내 기안</span></li>
								<li class="li-tab electronic_approval on" data-tab="myEaPathList"><span>결재 기안</span></li>
								<li class="li-tab electronic_approval" data-tab="myEaCarbonList"><span>참조 기안</span></li>
							</th:block>
							<th:block th:if="${#strings.equals(tab, 3)}">
								<li class="li-tab electronic_approval" data-tab="myEaList"><span>내 기안</span></li>
								<li class="li-tab electronic_approval" data-tab="myEaPathList"><span>결재 기안</span></li>
								<li class="li-tab electronic_approval on" data-tab="myEaCarbonList"><span>참조 기안</span></li>
							</th:block>
						</ul>
						<div th:if="${#strings.equals(tab, 1)}" id="myEaList" class="tab_contents electronic_approval current">
							<div class="tableArea">
								<table class="Table">
									<caption>내 기안 리스트</caption>
									<colgroup>
										<col style="width:7%" />
										<col style="width:11%" />
										<col style="width:44%" />
										<col style="width:8%" />
										<col style="width:8%" />
										<col style="width:11%" />
									</colgroup>
									<thead>
										<tr>
											<th>번호</th>
											<th>기안일자</th>
											<th>제목</th>
											<th>기안자</th>
											<th>결재자</th>
											<th>결재 상태</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${ myEaList }">
											<td th:text="${ list.serialNo }"></td>
											<td th:text="${ list.date }"></td>
											<td th:text="${ list.title}" class="t_left pop_btn" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }"></td>
											<td th:text="${ list.member.name }"></td>
											<th:block th:switch="${ list.eaStatus }">
												<th:block th:case="1">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 4}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="2">
													<th:block th:each="path, stat : ${ list.eaApprovalPathList }">
														<td th:if="${ stat.last }" th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="3">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 2}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="4">
													<td th:text="${ #authentication.principal.name }"></td>
												</th:block>
											</th:block>
											<th:block th:switch="${ list.eaStatus }">
												<td th:case="1">결재 중</td>
												<td th:case="2">결재 완료</td>
												<td th:case="3">결재 반려</td>
												<td th:case="4">임시 저장</td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<div th:unless="${#strings.equals(tab, 1)}" id="myEaList" class="tab_contents electronic_approval">
							<div class="tableArea">
								<table class="Table">
									<caption>내 기안 리스트</caption>
									<colgroup>
										<col style="width:7%" />
										<col style="width:11%" />
										<col style="width:44%" />
										<col style="width:8%" />
										<col style="width:8%" />
										<col style="width:11%" />
									</colgroup>
									<thead>
										<tr>
											<th>번호</th>
											<th>기안일자</th>
											<th>제목</th>
											<th>기안자</th>
											<th>결재자</th>
											<th>결재 상태</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${ myEaList }">
											<td th:text="${ list.serialNo }"></td>
											<td th:text="${ list.date }"></td>
											<td th:text="${ list.title}" class="t_left pop_btn" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }"></td>
											<td th:text="${ list.member.name }"></td>
											<th:block th:switch="${ list.eaStatus }">
												<th:block th:case="1">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 4}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="2">
													<th:block th:each="path, stat : ${ list.eaApprovalPathList }">
														<td th:if="${ stat.last }" th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="3">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 2}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="4">
													<td th:text="${ #authentication.principal.name }"></td>
												</th:block>
											</th:block>
											<th:block th:switch="${ list.eaStatus }">
												<td th:case="1">결재 중</td>
												<td th:case="2">결재 완료</td>
												<td th:case="3">결재 반려</td>
												<td th:case="4">임시 저장</td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div th:if="${#strings.equals(tab, 2)}" id="myEaPathList" class="tab_contents electronic_approval current">
							<div class="tableArea">
								<table class="Table">
									<caption>내 결재 리스트</caption>
									<colgroup>
										<col style="width:7%" />
										<col style="width:11%" />
										<col style="width:44%" />
										<col style="width:8%" />
										<col style="width:8%" />
										<col style="width:11%" />
									</colgroup>
									<thead>
										<tr>
											<th>번호</th>
											<th>기안일자</th>
											<th>제목</th>
											<th>기안자</th>
											<th>결재자</th>
											<th>결재 상태</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${ myEaPathList }" th:if="${ list.eaStatus != 4}">
											<td th:text="${ list.serialNo }"></td>
											<td th:text="${ list.date }"></td>
											<td th:text="${ list.title}" class="t_left pop_btn" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }"></td>
											<td th:text="${ list.member.name }"></td>
											<th:block th:switch="${ list.eaStatus }">
												<th:block th:case="1">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 4}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="2">
													<th:block th:each="path, stat : ${ list.eaApprovalPathList }">
														<td th:if="${ stat.last }" th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="3">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 2}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
											</th:block>
											<th:block th:switch="${ list.eaStatus }">
												<td th:case="1">결재 중</td>
												<td th:case="2">결재 완료</td>
												<td th:case="3">결재 반려</td>
												<td th:case="4">임시 저장</td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<div th:unless="${#strings.equals(tab, 2)}" id="myEaPathList" class="tab_contents electronic_approval">
							<div class="tableArea">
								<table class="Table">
									<caption>내 결재 리스트</caption>
									<colgroup>
										<col style="width:7%" />
										<col style="width:11%" />
										<col style="width:44%" />
										<col style="width:8%" />
										<col style="width:8%" />
										<col style="width:11%" />
									</colgroup>
									<thead>
										<tr>
											<th>번호</th>
											<th>기안일자</th>
											<th>제목</th>
											<th>기안자</th>
											<th>결재자</th>
											<th>결재 상태</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${ myEaPathList }" th:if="${ list.eaStatus != 4}">
											<td th:text="${ list.serialNo }"></td>
											<td th:text="${ list.date }"></td>
											<td th:text="${ list.title}" class="t_left pop_btn" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }"></td>
											<td th:text="${ list.member.name }"></td>
											<th:block th:switch="${ list.eaStatus }">
												<th:block th:case="1">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 4}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="2">
													<th:block th:each="path, stat : ${ list.eaApprovalPathList }">
														<td th:if="${ stat.last }" th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="3">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 2}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
											</th:block>
											<th:block th:switch="${ list.eaStatus }">
												<td th:case="1">결재 중</td>
												<td th:case="2">결재 완료</td>
												<td th:case="3">결재 반려</td>
												<td th:case="4">임시 저장</td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div th:if="${#strings.equals(tab, 3)}" id="myEaCarbonList" class="tab_contents electronic_approval current">
							<div class="tableArea">
								<table class="Table">
									<caption>내 참조 리스트</caption>
									<colgroup>
										<col style="width:7%" />
										<col style="width:11%" />
										<col style="width:44%" />
										<col style="width:8%" />
										<col style="width:8%" />
										<col style="width:11%" />
									</colgroup>
									<thead>
										<tr>
											<th>번호</th>
											<th>기안일자</th>
											<th>제목</th>
											<th>기안자</th>
											<th>결재자</th>
											<th>결재 상태</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${ myEaCarbonList }">
											<td th:text="${ list.serialNo }"></td>
											<td th:text="${ list.date }"></td>
											<td th:text="${ list.title}" class="t_left pop_btn" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }"></td>
											<td th:text="${ list.member.name }"></td>
											<th:block th:switch="${ list.eaStatus }">
												<th:block th:case="1">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 4}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="2">
													<th:block th:each="path, stat : ${ list.eaApprovalPathList }">
														<td th:if="${ stat.last }" th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="3">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 2}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
											</th:block>
											<th:block th:switch="${ list.eaStatus }">
												<td th:case="1">결재 중</td>
												<td th:case="2">결재 완료</td>
												<td th:case="3">결재 반려</td>
												<td th:case="4">임시 저장</td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<div th:unless="${#strings.equals(tab, 3)}" id="myEaCarbonList" class="tab_contents electronic_approval">
							<div class="tableArea">
								<table class="Table">
									<caption>내 참조 리스트</caption>
									<colgroup>
										<col style="width:7%" />
										<col style="width:11%" />
										<col style="width:44%" />
										<col style="width:8%" />
										<col style="width:8%" />
										<col style="width:11%" />
									</colgroup>
									<thead>
										<tr>
											<th>번호</th>
											<th>기안일자</th>
											<th>제목</th>
											<th>기안자</th>
											<th>결재자</th>
											<th>결재 상태</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${ myEaCarbonList }">
											<td th:text="${ list.serialNo }"></td>
											<td th:text="${ list.date }"></td>
											<td th:text="${ list.title}" class="t_left pop_btn" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }"></td>
											<td th:text="${ list.member.name }"></td>
											<th:block th:switch="${ list.eaStatus }">
												<th:block th:case="1">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 4}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="2">
													<th:block th:each="path, stat : ${ list.eaApprovalPathList }">
														<td th:if="${ stat.last }" th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
												<th:block th:case="3">
													<th:block th:each="path : ${ list.eaApprovalPathList }" th:if="${ path.status == 2}">
														<td th:text="${ path.member.name }"></td>
													</th:block>
												</th:block>
											</th:block>
											<th:block th:switch="${ list.eaStatus }">
												<td th:case="1">결재 중</td>
												<td th:case="2">결재 완료</td>
												<td th:case="3">결재 반려</td>
												<td th:case="4">임시 저장</td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<div class="btn_area">
							<a id="new_approval_pop_open_btn" class="blue_btn pop_btn" data-button="new_approval_pop">신규</a>
						</div>
					</div>
					<!-- 여기까지 전자 결재 리스트 -->
					
					<input th:each="document : ${ documentFormList }" th:attr="id=${ 'document' + document.no }, value=${ document.form }" hidden="hidden">
					
					<!-- 여기부터 신규 전자 결재 팝업 -->
					<div id="new_approval_pop" class="pop_layer">
						<div class="top_area">
							<h2>신규 결재</h2>
							<button type="button" class="pop_close" data-button="new_approval_pop">닫기</button>
						</div>
						<form id="new_approval_form" method="post" action="/ea/regNewEa">
							<div class="pop_inner">
								<div class="line-div">
									제&nbsp; 목&nbsp;&nbsp;&nbsp;
									<input id="new_approval_title" name="title" placeholder="제목을 입력해주세요." style="width: 70%;" type="text" required="required">
									&nbsp;&nbsp;&nbsp;
									<select id="documentForm" style="width: 18.5%;">
										<option th:each="document : ${ documentFormList }" th:text="${ document.name }" th:attr="value=${ document.no }"></option>
									</select>
									<br>
								</div>
								<div class="mt-2 line-div">
									결재자&nbsp;
									<select name="approvaler" id="new_approvaler" style="width: 91.5%;" class="form-control select2" multiple="multiple" required="required">
										<option class="approvaler_option" th:each="member : ${ memberList }" th:text="${ member.name }"></option>
									</select>
									<br>
								</div>
								<div class="mt-2 line-div">
									참조자&nbsp;
									<select name="carboner" id="new_carboner" style="width: 91.5%;" class="form-control select2" multiple="multiple" >
										<option class="carboner_option" th:each="member : ${ memberList }" th:text="${ member.name }"></option>
									</select>
									<br>
									<br>
								</div>
								<textarea style="overflow: scroll;" class="summer_note summer_note_new_approval" id="test" name="content" required="required"></textarea>
							</div>
							<div class="btn_area">
								<button type="submit" class="blue_btn pop_close mr-1" onclick="javascript: form.action='/ea/regNewEa/1'">결재</button>
								<button type="submit" class="blue_btn pop_close mr-1" onclick="javascript: form.action='/ea/regNewEa/2'">임시저장</button>
								<a id="new_approval_pop_close_btn" class="gray_btn pop_close" data-button="new_approval_pop">닫기</a>
							</div>
						</form>
					</div>
					<!-- 여기까지 신규 전자 결재 팝업 -->

					<!-- 여기부터 전자 결재 디테일 팝업 -->
					<div th:each="list : ${ allEaList }" th:if="${ list.eaStatus != 4 }" style="overflow: scroll; height: 700px; top: 50%;" th:attr="id=${ 'approval_detail_pop' + list.serialNo }" class="pop_layer approval_detail approval_detail_pop">
						<div class="top_area">
							<h2>전자 결재</h2>
							<button type="button" class="pop_close" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }">닫기</button>
						</div>
						<h2 class="approval_title mt-3" th:text="${ list.title }"></h2>
						<table class="approval_line" border="1">
							<tr>
								<td rowspan="3">결재</td>
								<td th:utext="${list.member.rank.name}+'<br>'+${list.member.name}" class="approval_person"></td>
								<td th:each="eaPath : ${list.eaApprovalPathList}" th:utext="${eaPath.member.rank.name}+'<br>'+${eaPath.member.name}" class="approval_person"></td>
							</tr>
							<tr class="approval_status">
								<td th:text="결재"></td>
								<th:block th:each="eaPath : ${list.eaApprovalPathList}" th:switch="${ eaPath.status }">
									<td th:case="1" class="approval_person"></td>
									<td th:case="2" class="approval_person">반려</td>
									<td th:case="3" class="approval_person">결재</td>
									<td th:case="5" class="approval_person">결재</td>
									<td th:case="*" class="approval_person"></td>
								</th:block>
							</tr>
							<tr>
								<td th:text="${ #dates.format(list.date, 'yy/MM/dd') }" class="approval_person"></td>
								<td th:each="eaPath : ${list.eaApprovalPathList}" th:text="${ #dates.format(eaPath.date, 'yy/MM/dd') }"></td>
							</tr>
						</table>
						<div style="border: solid #ccc 1px; margin: 0px 10px; padding: 0px 1px;">
							<div style="display: inline-block; color: white; background-color: #8cceea; height: 31px; width: 80px; text-align: center; line-height: 30px;">
								참조자
							</div>
							<div style="display: inline-block;">
								<span style="color: black;">
									<th:block th:each="carbon : ${ list.eaCarbonList }">
										<th:block th:utext="${carbonStat.first}?${carbon.member.name}:', '+${carbon.member.name}"><th:block>
									</th:block>
								</span>
							</div>
						</div>
						<div class="pop_inner">
							<div class="detail_note">
								<div class="top">
									<p class="name">기안 일자</p>
									<p th:utext="${ #dates.format(list.date, 'yyyy/MM/dd') } + '&nbsp;&nbsp' + ${ #dates.format(list.date, 'hh:mm:ss') }" class="date"></p>
								</div>

								<div class="approval_content">
									<p th:utext="${ list.content } "></p>
								</div>
							</div>
						</div>
						<div class="comment_area" style="margin: 0px 10px; margin-bottom: 10px;">
							<div th:each="ad : ${ list.addendumList }" class="row m-0 comment" style="padding: 2px 10px; border: solid #ccc 1px; border-radius: 1em; margin-bottom: 5px !important;" th:attr="id=${ 'addendum' + ad.no}">
								<th:block th:if="${ ad.depth != 0 }">
									<th:block th:each="num : ${#numbers.sequence(1, ad.depth)}">
										<div th:if="${ numStat.last == false }" class="col-1"></div>
										<div th:unless="${ numStat.last == false }" style="display: flex; align-items: center;" class="col-1 p-0"><img th:src="@{/uses/pngwing.com.png}" style="max-height: 20px; margin-left: auto; margin-right: auto;"></div>
									</th:block>
								</th:block>
								<div style="height: auto;" class="col">
									<span th:if="${ list.member.name == ad.member.name }" th:utext="${ ad.member.name } + '&nbsp;(기안자)'" style="color: black;"></span>
									<span th:unless="${ list.member.name == ad.member.name }" th:utext="${ ad.member.name }" style="color: black;"></span>
									<th:block th:if="${ list.eaStatus == 1}">
										<button class="ml-3 reply_btn pop_btn" style="font-size: 13px;" data-button="reply_comment_pop" th:attr="name=${ ad.no }">답글</button>
										<button th:if="${#authentication.name} == ${ad.member.name}" class="ml-3 delete_btn" style="font-size: 13px;" th:attr="id=${'commentDelete' + ad.no}">삭제</button>
									</th:block>
									<b th:text="${ ad.date }" style="color: black; float: right;"></b>
									<p  style="font-size: 13px;" class="m-0" th:utext="${#strings.replace(ad.content,'&#10;','&lt;br&gt;')} "></p>
								</div>
							</div>
						</div>
						<div class="btn_area">
						<th:block th:if="${ list.saveNo == 1 }">
							<a th:href="@{/ea/approval(no=${list.serialNo})}" class="blue_btn" style="cursor: pointer;">결재</a>
							<a th:href="@{/ea/return(no=${list.serialNo})}" class="blue_btn" style="cursor: pointer;">반려</a>
						</th:block>
						<th:block th:if="${ list.saveNo == 2 }">
							<a th:href="@{/ea/eaCancle(no=${list.serialNo})}" class="blue_btn" style="cursor: pointer;">결재 취소</a>
						</th:block>
						<th:block th:if="${ list.saveNo == 3 }">
							<a th:href="@{/ea/eaCancle(no=${list.serialNo},type=1)}" class="blue_btn" style="cursor: pointer;">결재 취소</a>
						</th:block>
							<a class="gray_btn pop_btn new_ad" data-button="new_comment_pop" th:attr="name=${ list.serialNo }">첨언</a>
							<a class="gray_btn pop_close" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }">닫기</a>
						</div>
						
					</div>
					<!-- 여기까지 전자 결재 디테일 팝업 -->
					
					<!-- 여기부터 임시저장 전자 결재 디테일 팝업 -->
					<div th:each="list : ${ allEaList }" th:if="${ list.eaStatus == 4 }" class="pop_layer new_approval_pop temp_ea" th:attr="id=${ 'approval_detail_pop' + list.serialNo }">
						<div class="top_area">
							<h2>임시 저장</h2>
							<button type="button" class="pop_close" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }">닫기</button>
						</div>
						<form id="new_approval_form" method="post" action="/ea/updateEa">
							<input name="eaNo" th:attr="value=${ list.serialNo }" hidden >
							<div class="pop_inner">
								<div class="line-div">
									제&nbsp; 목&nbsp;&nbsp;&nbsp;
									<input name="title" placeholder="제목을 입력해주세요." style="width: 91.5%;" type="text" required="required" th:attr="value=${ list.title }">
									<br>
								</div>
								<div class="mt-2 line-div">
									결재자&nbsp;
									<select name="approvaler" th:attr="id=${ 'new_approvaler' + list.serialNo }" style="width: 91.5%;" class="form-control select2" multiple="multiple" required="required">
										<th:block th:each="member : ${ list.approvalerList }">
											<option th:if="${ member.type } == 1" th:text="${ member.name }" th:attr="selected='selected'"></option>
											<option th:unless="${ member.type } == 1" th:text="${ member.name }"></option>
										</th:block>
									</select>
									<br>
								</div>
								<div class="mt-2 line-div">
									참조자&nbsp;
									<select name="carboner" th:attr="id=${ 'new_carboner' + list.serialNo }" style="width: 91.5%;" class="form-control select2" multiple="multiple" >
										<th:block th:each="member : ${ list.carbonerList }">
											<option th:if="${ member.type } == 1" th:text="${ member.name }" th:attr="selected='selected'"></option>
											<option th:unless="${ member.type } == 1" th:text="${ member.name }"></option>
										</th:block>
									</select>
									<br>
									<br>
								</div>
								<textarea name="content" class="approval_content_text summer_note" required="required" th:utext="${ list.content }"></textarea>
							</div>
							<div class="btn_area">
								<button type="submit" class="blue_btn pop_close mr-1" onclick="javascript: form.action='/ea/updateEa/1'">결재</button>
								<button type="submit" class="blue_btn pop_close mr-1" onclick="javascript: form.action='/ea/updateEa/2'">임시저장</button>
								<button type="submit" class="blue_btn pop_close mr-1" onclick="javascript: form.action='/ea/deleteEa'">문서삭제</button>
								<a class="gray_btn pop_close" th:attr="data-button=${ 'approval_detail_pop' + list.serialNo }">닫기</a>
							</div>
						</form>
					</div>
					<!-- 여기까지 임시저장 전자 결재 디테일 팝업 -->
				</div>
			</div>
		</div>
		
		<!-- 여기부터 신규 첨언 팝업 -->
		<div id="new_comment_pop" class="pop_layer new_comment_pop">
			<div class="top_area">
				<h2>신규 첨언</h2>
				<button type="button" class="pop_close" data-button="new_comment_pop">닫기</button>
			</div>
			<div class="pop_inner">
				<textarea id="add_ad_content" class="commnet_content_text"></textarea>
			</div>
			<div class="btn_area">
				<a style="cursor: pointer;" class="blue_btn pop_close add_comment" data-button="new_comment_pop">작성</a>
				<a class="gray_btn pop_close close_comment" data-button="new_comment_pop">닫기</a>
			</div>
		</div>
		<!-- 여기까지 신규 첨언 팝업 -->
		
		<!-- 여기부터 답글 첨언 팝업 -->
		<div id="reply_comment_pop" class="pop_layer new_comment_pop">
			<div class="top_area">
				<h2>답글 첨언</h2>
				<button type="button" class="pop_close close_reply" data-button="new_comment_pop">닫기</button>
			</div>
			<div class="pop_inner">
				<textarea id="reply_content" class="commnet_content_text"></textarea>
			</div>
			<div class="btn_area">
				<a class="blue_btn pop_close reply_comment" data-button="reply_comment_pop">작성</a>
				<a class="gray_btn pop_close close_reply" data-button="reply_comment_pop">닫기</a>
			</div>
		</div>
		<!-- 여기까지 답글 첨언 팝업 -->
	</section>
	
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
	
	<script>
		$(document).ready(function () {
			var $reply;
			var $eaNo;
			
			$("#documentForm").on("change", function() {
				$(".summer_note_new_approval").summernote('code', $("#document" + $(this).val()).val());
			});
			
			$(".summer_note_new_approval").summernote('code', $("#document1").val());
			
			$("#new_approval_pop_open_btn").click(function() {
				$(".summer_note_new_approval").summernote('code', $("#document1").val());
			});
			
			$("#new_approval_pop_close_btn").click(function() {
				$('#new_approvaler').val(null).trigger('change');
				$('#new_carboner').val(null).trigger('change');
				$('#new_approval_title').val('');
				$(".summer_note_new_approval").summernote('code', "");
			});
			
			$(".new_ad").click(function() {
				$eaNo = $(this).attr("name");
			});
			
			$(".reply_btn").click(function() {
				$reply = $(this).attr("name");
			});
		
			$("#new_approval").click(function() {
				$("#new_approval_form").submit();
			});
			
			$(".select2").on("select2:select", function (evt) {
				var element = evt.params.data.element;
				var $element = $(element);
				
				if ($(this).find(":selected").length > 1) {
				  var $second = $(this).find(":selected").eq(-1);
				  $second.after($element);
				} else {
				  $element.detach();
				  $(this).prepend($element);
				}
				
				$(this).trigger("change");
	        });
			
			$('.select2').select2({
				placeholder: "선택 해주세요",
			});
			
			var replyAd = function() {
				let $reply_content = $("#reply_content").val();
				$.ajax({
					url: "/ea/replyAddendum",
					type: "POST",
					data: {no : $reply,
						   content : $reply_content},
					success:function(data) {
						let $refAd = $("#addendum" + data.refNo.no);
						data.content = data.content.replace(/(?:\r\n|\r|\n)/g, "<br>");
						
						let $text = '<div class="row m-0 comment" style="padding: 2px 10px; border: solid #ccc 1px; border-radius: 1em; margin-bottom: 5px !important;" id=addendum' + data.no + '>';
						for(let i = 1 ; i <= data.depth ; i++) {
							if(i == data.depth) {
								$text += '<div style="display: flex; align-items: center;" class="col-1 p-0"><img src="/uses/pngwing.com.png" style="max-height: 20px; margin-left: auto; margin-right: auto;"></div>';
							} else {
								$text += '<div class="col-1"></div>';
							}
						}
						$text += '<div style="height: auto;" class="col">';
						if(data.ea.member.name == data.member.name) {
							$text += '<span style="color: black;">' + data.member.name + '&nbsp;(기안자)' + '</span>';
						} else {
							$text += '<span style="color: black;">' + data.member.name + '</span>';
						}
						$text += '<button class="ml-3 reply_btn pop_btn" style="font-size: 13px;" id="adReplyBtn' + data.no + '" data-button="reply_comment_pop" name="' + data.no + '">답글</button>';
						$text += '<button class="ml-3 delete_btn" style="font-size: 13px;" id="commentDelete' + data.no + '">삭제</button>';
						$text += '<b style="color: black; float: right;">' + data.date + '</b>';
						$text += '<p  style="font-size: 13px;" class="m-0">' + data.content + '</p>';
						$text += '</div>';
						
						$refAd.after($text);
						$("#commentDelete" + data.no).click( deleteAd );
						$("#adReplyBtn" + data.no).click(function() {
							var pop_name = $(this).data('button');
							
							$reply = $(this).attr("name");

						});
						$("#reply_content").val('');
					},
					error:function(error){
						alert('답글 작성에 실패하셨습니다.');
					}
				});
			}
			$(".reply_comment").click(replyAd);
			
			var deleteAd = function() {
				let $this = $(this);
				console.log($this);
				let data = $this.attr('id').replace('commentDelete', '');
				$.ajax({
					url: "/ea/deleteAddendum",
					data: {no : data},
					success:function(data) {
						$this.parent().parent(".comment").remove('');
					},
					error:function(error){
						alert("답글이 달런 첨언은 삭제할 수 없습니다.");
					}
				});
			}
			$(".delete_btn").click( deleteAd );
			
			$(".close_reply").click(function(){
				$(this).parent().prev().children().val("");
			});
	
			$(".close_comment").click(function() {
				$(this).parent().prev().children().val("");
			});
			
			$(".add_comment").click(function() {
				let eaNo = $eaNo;
				let $content = $("#add_ad_content").val();
				console.log($content);
				$.ajax({
					url: "/ea/addAddendum",
					type : "POST",
					data: {no : eaNo,
						   content : $content},
					success:function(data) {
						let $ea = $("#approval_detail_pop" + data.ea.serialNo);
						data.content = data.content.replace(/(?:\r\n|\r|\n)/g, "<br>");
						
						let $text = '<div class="row m-0 comment" style="padding: 2px 10px; border: solid #ccc 1px; border-radius: 1em; margin-bottom: 5px !important;" id=addendum' + data.no + '>';
						for(let i = 1 ; i <= data.depth ; i++) {
							if(i == data.depth) {
								$text += '<div style="display: flex; align-items: center;" class="col-1 p-0"><img src="/uses/pngwing.com.png" style="max-height: 20px; margin-left: auto; margin-right: auto;"></div>';
							} else {
								$text += '<div class="col-1"></div>';
							}
						}
						$text += '<div style="height: auto;" class="col">';
						if(data.ea.member.name == data.member.name) {
							$text += '<span style="color: black;">' + data.member.name + '&nbsp;(기안자)' + '</span>';
						} else {
							$text += '<span style="color: black;">' + data.member.name + '</span>';
						}
						$text += '<button class="ml-3 reply_btn pop_btn" style="font-size: 13px;" id="adReplyBtn' + data.no + '" data-button="reply_comment_pop" name="' + data.no + '">답글</button>';
						$text += '<button class="ml-3 delete_btn" style="font-size: 13px;" id="commentDelete' + data.no + '">삭제</button>';
						$text += '<b style="color: black; float: right;">' + data.date + '</b>';
						$text += '<p  style="font-size: 13px;" class="m-0">' + data.content + '</p>';
						$text += '</div>';
						
						$ea.children(".comment_area").append($text);
						$("#commentDelete" + data.no).click( deleteAd );
						$("#adReplyBtn" + data.no).click(function() {
							var pop_name = $(this).data('button');
							
							$reply = $(this).attr("name");

						});
						$("#add_ad_content").val('');
					},
					error:function(error){
						alert("첨언에 실패하였습니다.");
					}
				});
			});
		});
		
		/* dataTable */
		var timer = setInterval(function() {
			$.fn.DataTable.ext.pager.numbers_length = 5;
			$('.Table').DataTable({
				"pagingType": "full_numbers",
				"language": {
		            "lengthMenu": "페이지당 줄수 _MENU_",
		            "zeroRecords": "전자 결재가 존재하지 않습니다.",
		            "info": "_PAGE_ / _PAGES_",
		            "infoEmpty": "결재 항목이 존재하지 않습니다.",
		            "infoFiltered": "(총 _MAX_ 개의 항목이 제외 되었습니다.)",
		            "search": "검색 : ",
		            "paginate": {
		                "previous": "이전",
		                "next" : "다음",
		                "first" : "처음",
		                "last" : "마지막"
		              }
		        },
		        "order" : [],
	               /* 보이는 갯수 설정 안보이게 */
	               lengthChange: false,
	               /* 페이지 전체수 나오던 부분 안보이게*/
	               info : false,
	               /* 구조 설정 태그 안에 글자는 div클래스명 */
	               "dom": 't<"fDiv"f><"pDiv"p>',
	               "aoColumnDefs": [
	                   { 'bSortable': false, 'aTargets': [ 0, 1, 2, 3, 4, 5 ] }
	                ]
	        });
			
			clearInterval(timer);
		}, 100);
		
		$('.summer_note').summernote({
			lang: "ko-KR",
			tabsize: 1,
			width : 675,
			height : 360,
			toolbar: [
			    // [groupName, [list of button]]
			    ['fontname', ['fontname']],
			    ['fontsize', ['fontsize']],
			    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
			    ['color', ['forecolor','color']],
			    ['table', ['table']],	
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']]
			  ],
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
		});
	</script>
	
</body>
</html>