@charset "UTF-8";
.big_logo {
    width: 300px !important;
}

.login_div {
    margin: 5em auto;
}

.logo_div {
    margin-left: 70px;
}

.login {
    width: 400px;
}

.hsy-btn {
    height: 100px;
    color: #8cceea;
    border-color: #8cceea;
}

.hsy-btn:hover {
    height: 100px !important;
    color: #8cceea !important;
    border-color: #8cceea !important;
    background-color: #eee !important;
}

/* footer */
.footer-main-div {
	color: white;
	padding: 3em;
}

.footer-main-div .footer-info-div>strong {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 15px;
}

.footer-main-div .footer-info-div>strong>a {
	text-decoration: none;
	color: white;
}

.footer-contact-div>h5 {
	line-height: 1em;
}

.footer-contact-div>p {
	font-size: 14px;
	color: black;
	font-weight: bold;
}

.footer-intro-div {
	margin-left: 1em;
	margin-right: 1em;
}

.footer-intro-div>p {
	font-size: 14px;
	color: black;
	font-weight: bold;
}

.footer-intro-div>.group-intro-1 {
	line-height: 1px;
}